[2013-06-03 20:59] asreimer opened #1 "source bashrc ubuntu install bug"
I installed davitpy on a fresh install of ubuntu 13.04 and it went very smoothly, except for one tiny bug.

Despite the existence of line 54 in davitpy/install/debian/python_install_debian.sh

---

source ~/.bashrc

---

When the install script tried to execute ./mastermake there was an error because the environment variable ${DAVITPY} did not exist.

Manually executing the source ~/.bashrc and th

[2013-06-05 16:00] sd-usask opened #4 "OpenSuSe 12.1 davitpy install - basemap issue"
The numpy package for opensuse 12.1 does not contain the file arrayobject.h, and whilst building basemap, compilation fails to find the file.

In order to get around this, two issues must be resolved:
1) You need to download numpy source and build it.
2) You need to use the prefix /usr (default is /usr/local) because include directories while building basemap do not include /usr/local/.

wget http

[2013-06-05 16:03] sd-usask opened #5 "OpenSuSe 12.1 davitpy install - mastermake"
When running mastermake after building successfully RSTLite and basemap and setting appropriate environment variables, mastermake fails at the following lines. I have no solution.

[code]

[2013-06-05 20:05] asreimer opened #6 "Segmentation fault when trying to read after myPtr.ptr is closed"
If a user tries to read a record using radDataReadRec(myPtr) but Ptr.ptr is closed, this results in a segmentation fault. Is this something that can be prevented in radDataReadRec?

Example using davitpy on Ubuntu 13.04:

---

In [1]: import datetime as dt

In [2]: myPtr = pydarn.sdio.radDataOpen(dt.datetime(2012,11,24,5),'kod',eTime=dt.datetime(2012,11,24,9),channel=None, bmnum=3,cp=1313,fileType

[2013-06-05 20:31] #1 closed, assigned to ajribeiro

[2013-06-05 20:39] #6 closed, assigned to ajribeiro

[2013-06-06 16:17] #4 closed, assigned to nobody

[2013-06-10 18:31] #5 closed, assigned to sdelarquier

[2013-06-17 22:57] mrwessel opened #7 "OpenSUSE 12.1 davitpy install - autoreload and basemap (again)"
I have got my davitpy install to the point where I can run it with the `> davitpy` command in my regular user account, but once python loads I get problems with autoreload and basemap:

[code]

followed by the python command prompt.

From what I read, autoreload is supposed to be bundled with iPython, but somehow it is missing in my case.  As for basemap, we've already been through this, and now t

[2013-06-19 19:36] #7 closed, assigned to nobody

[2013-06-20 18:14] asreimer opened #8 "Minor install issue on openSUSE"
The following was tested on openSUSE 12.3

When executing the python_install_opensuse.sh file using the sudo command, the last two lines of code:

install_dir=$(readlink -f ../..)
echo "source $install_dir/profile.bash" >> ~/.bashrc

Install the "source $install_dir/profile.bash" into the .bashrc for root (ie. /.bashrc) instead of the .bashrc for the user.

I've tested this using a script that onl

[2013-07-15 18:40] #8 closed, assigned to nobody

[2013-07-22 18:26] sdelarquier opened #11 "Add MLT coordinates support"
This is a very important feature still missing from DaViTpy.

[2013-07-22 18:28] sdelarquier opened #12 "Add support for different data-paths and file-formats"
Jeff has a solution for the data path, soon to be pulled.

Can we extend said solution to the file format issue (2-hour vs 1-day files)?

[2013-07-23 22:56] asreimer opened #13 "Fan plots don't plot mag coords properly"
using the command:

pydarn.plotting.fan.plotFan(dt.datetime(2011,10,2,5),['sas'],fileType='fitacf',interval=120,coords='geo')

works great and makes a nice little fan plot, but using coords='mag' makes a plot in which the data and fov are in completely difference places.

Matt Wessel and I are in the process of fixing this. We are implementing utils.mapObj instead of basemap.Basemap and this seems

[2013-07-29 11:41] ghost opened #14 "index error in msis.getF107Ap()"
When  calling msis.getF107Ap, I get an index error whenever the time passed to the function is later than approximately 22:00. I am running the msis model for a large dataset, and I am worried that this error also implies that the time for wrong for other hours as well..

ttap = [ tap[dtInd][hrInd-i] for i in range(hrInd+1) ]
IndexError: list index out of range

By the way, thanks for making this!

[2013-07-31 23:21] #14 closed, assigned to sdelarquier

[2013-09-01 20:37] sdelarquier opened #16 "Ubuntu shared library build fails to link to RST libraries"
Sometimes, when installing davitpy on Ubuntu, the shared libraries will compile (dmap and aacgm), but will fail to execute. When running `ldd aacgmlib.so` we get the following partial output:

[code]

[2013-09-01 20:40] #16 closed, assigned to nobody

[2013-09-06 07:52] #13 closed, assigned to nobody

[2013-09-13 05:26] asreimer opened #21 "Memory leak in models.aacgm.aacgmConvArr()"
I have identified a memory leak in the models.aacgm.aacgmConvArr() function.

Tests show that if you call this function many times in the same ipython or python session, on both Ubuntu 13.04 and OpenSUSE 12.3, your RAM usage will increase but never go back down until the ipython or python session is closed.

If instead you use a python for loop to process an array of latitudes/longitudes with mode

[2013-09-13 06:43] #21 closed, assigned to nobody

[2013-10-18 20:47] mrwessel opened #24 "radDataOpen multi-day files don't work properly (fitacf)"
When I use radDataOpen to create a fitacf file containing more than one day of data, I can only get to the end of the first day with radDataReadRec.  Not being fluent in fitacf, I can't even tell whether the subsequent days are present in the file at all.  I don't believe we've changed any of the code surrounding the concatenation for use with our USask fitacf files, so maybe it just doesn't work

[2013-11-12 20:48] magnargj opened #25 "Issue with AACGM module"
Hi,

I have just installed davitpy (thank you for the effort!). Now, it seams that all the models are working as they should, but I do get problems with AACGM. When writing
from models import \*
I get:
/home/magnar/Programmering/Python/vtsuperdarn-davitpy-1a1924f/models/aacgm/**init**.pyc -> aacgmlib:  No module named aacgmlib

Anyone now how to deal with this?

Best regards,
Magnar

[2013-11-15 11:06] #25 closed, assigned to nobody

[2014-05-25 05:03] TheRadioEngineer opened #30 "Problems with mpif90 on Ubuntu 12.04"
I am having difficulties installing raydarn on Ubuntu 12.04. I get the following error message when running mastermake:

[code]

Not sure what the problem would be. Does anyone know?

[2014-06-10 08:36] donalmur opened #35 "MSIS"
Hi
I have been trying msis and do not find that the Texo changes with f10.7 as I would expect in fact I alway get the same value Texo= 1027.3K
Any comment?

[2014-07-04 17:54] mrwessel opened #38 "Beam direction calculations in class fov (pydarn/radar/radFov.py) are off by half a beam."
Beam 8 ends up pointing down the boresight when it should be beam 7.5; EDIT: this problem is not present in RST, Go, or DaViT.  The entire field of view is rotated half a beam (1.62 degrees) to the left.  The method beamToAzim in class fov (pydarn/radar/radStruct.py) does the job correctly but is not being used.

[2014-07-16 18:15] xnchu opened #39 "Question of install error"
I am new here. The question is so dumb. Please help.
I followed the instruction and when I try install using "sudo python setup.py install", the compile error popped out. I think I have all the dependencies. What did I do wrong? I attached all the information below.
Thanks in advance!

spurces ['pydarn', 'pydarn.sdio', 'pydarn.plotting', 'pydarn.radar', 'pydarn.proc', 'pydarn.proc.music', 'pydarn.

[2014-07-23 03:09] asreimer opened #45 "Dealing with rtypes.h (edit: replacing dmap.c with python code)"
Posting this so we remember to address it at a later date. As @jspaleta said we need to work towards replacing rtypes.h with "calls to types defined in stdint.h" see https://github.com/vtsuperdarn/davitpy/pull/44

And see https://github.com/vtsuperdarn/davitpy/pull/44#issuecomment-49827658

[2014-07-29 18:14] mrwessel opened #51 "Problem with radar code handling in fetch_remote_files of pydarn/sdio/fetchUtils.py"
The problem is with the assert at line 382:
https://github.com/vtsuperdarn/davitpy/blob/develop/pydarn/sdio/fetchUtils.py#L382

The code is required to be a three-char string, which precludes use of the old single-char codes (f=han, e=pyk, etc.).

Furthermore, the code is required to exist. While the function is useful for retrieving convection map files, it is necessary to feed it a bogus radar c

[2014-07-29 18:20] mrwessel opened #52 "Problem with file type handling in fetch_remote_files of pydarn/sdio/fetchUtils.py"
The problem is with the assert at line 384:
https://github.com/vtsuperdarn/davitpy/blob/develop/pydarn/sdio/fetchUtils.py#L384

Only file types for acf and iq data are permitted, but this function is also useful for retrieving convection map data. Convection map file formats then need to be set in fnamefmt (and done as a list if there is more than one possibility) and a bogus but acceptable file t

[2014-07-29 18:24] #38 closed, assigned to nobody

[2014-08-01 18:37] mrwessel opened #56 "Problem with database in pydarn/radar/radStruct.py"
In the init for the network class the code looks for the database ".radars.sqlite" in $DAVIT_TMPDIR first, then tries $HOME and finally __file__.  In the inits for the radar class and the site class, however, the code looks for "radars.sqlite" (note no leading dot) and never checks $HOME, just $DAVIT_TMPDIR and __file__.  My .radars.sqlite happens to live in $HOME, and there is no database of any

[2014-08-05 16:53] #56 closed, assigned to nobody

[2014-08-06 03:47] #52 closed, assigned to nobody

[2014-08-06 03:48] #51 closed, assigned to asreimer

[2014-08-06 04:20] asreimer opened #60 "Bug in mapObj conversions between coordinate systems"
There is a problem with the `__call__` method in the utils.mapObj class. Performing a call to convert latitude and longitude into map coordinates and then attempting to convert those coordinate back in to latitude and longitude fails when converting between coordinate systems.

For example in `geo` coords:

[code]

It works. For a map in `geo` coords but converting the x,y coords to `mag` lat and

[2014-08-06 22:38] mrwessel opened #62 "Multiple bugs in plotUtils and pydarn/radar/radFov"
-Missing self for some attributes when used in the draw method of mapObj
-Wrong call to aacgm methods in radFov
-Code for boundaries accidentally excised from plotUtils by #61

I'm working on these as a bugfix.  More to follow as the situation progresses...

[2014-08-07 16:47] #60 closed, assigned to nobody

[2014-08-07 20:26] jspaleta opened #65 "Support non-concat file types"
We are working on hdf5 representations of fitted SD data products.
hdf5 files can not be easily concatted.
So for pydavit to support it the code calling file fetch routines must be enhanced to keep a list of open files, instead of relying on a single open file.

What is needed in RadDataType:
1) private file handle related variables need to become a list of variables
2) Record/Scan Index methods w

[2014-08-07 21:07] mrwessel opened #66 "Two keywords for the same thing in mapObj"
Both datetime and dateTime exist.  I am working on this.

[2014-08-07 22:16] #66 closed, assigned to nobody

[2014-08-07 22:17] #62 closed, assigned to nobody

[2014-08-07 22:26] asreimer opened #68 "sdDataRead and sdDataTypes not consistent with rad*"
Now that radDataRead.py and radDataTypes.py have been generalized beyone institution specific code, sdDataRead.py and sdDataTypes should be made consistent with their rad\* counterparts.

In other words, the sdDataPtr needs to be made more pythonic in the same way as https://github.com/vtsuperdarn/davitpy/pull/47 made radDataPtr more pythonic. After this, fetchUtils.py functions need to be impleme

[2014-08-08 01:40] mrwessel opened #71 "Bug in mapObj: x and y swapped"
Fixed in #70.

[2014-08-08 01:40] #71 closed, assigned to nobody

[2014-08-12 22:00] mrwessel opened #75 "Altitude for radar FOV in pydarn/radar/radFov"
I'm converting radFov to use coord_conv.  The altitude is set to zero in the original AACGM call for conversion from geo to mag.  Is that how it should stay?  I suppose it depends on whether the beam-gate coordinates are meant to be used at altitude or on the ground.

https://github.com/vtsuperdarn/davitpy/blob/develop/pydarn/radar/radFov.py#L214

[2014-08-15 23:22] mrwessel opened #79 "mapOverlay (pydarn/plotting/mapOverlay.py) uses current time as default"
It should default to the `mapObj.dateTime` so as not to put things in unexpected places on the plot.  This is fixed in #78.

[2014-08-27 13:14] wiltbemj opened #83 "Missing makefiles?"
Hi,
  Just trying to install the tools on my Mac.  I've done the github pull, but when I run the mastermake command it fails because it cannot find the makefile in the igrf, raydarn directories.  I'm particularly interested in the AAGCM portion of the tools.  Is it possible to get the makefile for these models?

Thanks,
Mike

[2014-08-27 17:55] ksterne opened #84 "dmapio attributes missing in development?"
Hello all,

I've been picking up a few of the updates in the sdio directory in order to see if they work better with the UAF filenaming convention.  I've checkout'ed the radDataRead and radDataTypes and fetchUtils.py files from the development branch.  First, is there a better place to pull from?  I think this is where some work was being done to make some updates.

If so, then I'm getting errors

[2014-08-27 20:45] #84 closed, assigned to nobody

[2014-08-28 16:50] ecousins opened #85 "Parenthesis bug in sdDataRead"
This should probably be a pull request but I'm new to git and not quite sure how it all works.

There is a parenthesis bug in davitpy/pydarn/sdio/sdDataRead.py Line 449:
if len(myList > 0)
should be:
if len(myList) > 0

[2014-08-28 17:30] #85 closed, assigned to nobody

[2014-08-29 17:37] ksterne opened #86 "Missing .radars.sqlite"
Hello all again,

...although this may be mostly for Jef.  Just did a fresh install of davitpy here on a sandbox area so I'm not messing with VT's main davitpy.  Anywho, I've got some extra code that is trying to access the pydarn.radar.network() object but it's coming up with a missing .radars.sqlite file not found.  Where does this file come from?

[2014-08-29 17:57] #86 closed, assigned to nobody

[2014-09-08 17:38] ksterne opened #88 "radDataRead doesn't follow radDataTypes?"
Hello all,

I've been trying out some diagnostic code in which I loop through all of the radar names listed in the network() list.  The documentation in radDataRead notes that if channel isn't set, it will read data from all channels, but this doesn't seem to be working in the develop branch.  I have this functionality in the master branch.  Is there something different going on here?

Specificall

[2014-09-08 21:52] mrwessel opened #89 "Bug in coord_conv: multi-row array"
Feeding an m x n array to coord_conv when n != 1 causes failure.  When the lats and lons are processed for conversion to MLT element 0 is a list so it can't feed that to an AACGM function expecting a float.

[2014-09-09 19:43] #88 closed, assigned to nobody

[2014-09-11 23:07] mrwessel opened #94 "Getting channel from dmap files with radDataTypes"
In `radDataTypes` the methods `readRec` (of class `radDataPtr`) and `updateValsFromDict` (of class `radBaseData`) both attempt to use `"channel"` in the dmap record to determine the channel of the data (as in, the UAF radar operating frequency channel).  The problem is, as discussed in #91, that channel was only meant to be used on STEREO radars and is zero for all others.  The UAF radars therefor

[2014-09-16 20:55] asreimer opened #96 "RTI plotting fails in 'mag' or 'mlt' coords"
RTI plotting fails with an Assertion error if you try to use the 'mag' or 'mlt' coords. Here's the code I tried running:

`pydarn.plotting.rti.plotRti(datetime(2009,6,24,0,30),'bks',eTime=datetime(2009,6,24,1,30),coords='mag')`

and here's the error message:

[code]

[2014-09-16 21:00] #89 closed, assigned to nobody

[2014-09-16 21:02] #75 closed, assigned to nobody

[2014-09-16 21:12] asreimer opened #97 "Bug in install/debian_dependencies.sh"
The line in question is the one that sets up the `source` line in the `.bashrc` file after the dependencies have been installed. ie) `echo "source $dir/../profile.bash" >> ~/.bashrc`

The path is incorrectly set and so profile.bash is not properly sourced.

This can be fixed in two ways: 1) removing all environment variables by moving things over to a configuration file like what matplotlib uses o

[2014-09-16 21:12] #39 closed, assigned to nobody

[2014-09-16 21:13] #79 closed, assigned to nobody

[2014-09-17 16:16] #96 closed, assigned to nobody

[2014-09-17 19:12] ksterne opened #99 "DAVIT_LOCAL_TIMEINC env variable"
I was tracking down an issue here and it seems as though the DAVIT_LOCAL_TIMEINC environment variable defaulted to 2 on my quick setup. This leads fetch_*_files to skip odd hour files. Should these files really be skipped? I think for a while some radars were generating a new file every hour, so this would miss half of that data.  There's other cases where radars are stopped and started in which o

[2014-09-17 22:16] asreimer opened #100 "Major Bug: tsyganenko model not working"
While randomly testing different bits of davitpy I discovered that somewhere we lost the ability for the tsyganenko model to work properly. This bug affects the develop branch and the master branch! @sdelarquier since you worked on this implementing this model in davitpy can you help out with this bug please?

Here's the code I used to discover the bug:

    from numpy import arange, zeros, ones

[2014-09-18 05:03] w2naf opened #101 "Major bug: Magnetic Coordinate Plotting"
Hi, guys.

I started making a new notebook to demonstrate basic SuperDARN data plotting (branch: feature_plotting_notebook), especially in response to request from Judy Stephenson.  I especially ran into trouble when trying to plot fan plots in magnetic coordinates:

[code]

![index](https://cloud.githubusercontent.com/assets/1831182/4315196/3c382560-3ef0-11e4-8cef-7d58eaadae81.png)

[code]

![ind

[2014-09-19 22:11] mrwessel opened #102 "MLT plotting labelled with degrees, not MLT"
Maps plotted in MLT end up showing degrees from magnetic local midnight, not actual MLT.

[2014-09-25 18:08] #68 closed, assigned to nobody

[2014-09-25 18:14] #12 closed, assigned to nobody

[2014-09-25 22:29] mrwessel opened #106 "Add a find_nearest method to *DataTypes"
This method in radDataTypes/sdDataTypes would take a datetime (or possibly a range of datetimes) as input, then find the item(s) in the record index with the closest datetime key(s).  This is especially useful because the keys often include milliseconds, making them (typo-prone) work to enter by hand and difficult to specify automatically...without using code to find the nearest to a given datetim

[2014-10-06 21:01] w2naf opened #110 "Bug: VT SFTP Access Broken"
Hi, guys.  Here is another bug.

**Summary:** SHA 74f66c9dff1ce52e224194f306135ff74739d6e6 breaks access to VT SFTP.

**Test code:**

[code]

**Output Using SHA 74f66c9dff1ce52e224194f306135ff74739d6e6:**

[code]

**Output using previous commit (SHA e5e9dbce66ff1bc89a1892f82d1a7689079cae76)**:

[code]

[2014-10-16 10:56] cmeeren opened #113 "Notebook to explain all davitpy data types and how/where they're used"
I'm pretty much in the dark when it comes to most of the data types/structures we're using. It seems to me I that if I want to know the data types we use, I would need to go digging in the source code, play around with different data types, explore their attributes and methods, and find out where and how they are used (e.g. which functions and methods accept which of the datatypes).

I think it wo

[2014-10-17 02:25] #110 closed, assigned to nobody

[2014-10-17 05:25] asreimer opened #115 "davitpyrc"
As stated by the wise @jspaleta, chapter vtsuperdarn/davitpy repository, verse https://github.com/vtsuperdarn/davitpy/issues/56 "we need to move to a pydarnrc file that has all the user configurable environment stuff instead of all the environment shell variables. A real config file for all of pydarn environment configurables will fully solve the problem. Like how the matplotlibrc works. And we ne

[2014-10-17 17:18] w2naf opened #117 "Question on datetime vs dateTime in mapObj"
Hi, guys.  I've noticed that mapObj has both datetime and dateTime keywords.  What is the difference?  It is not documented.

On a related note, the documentation of some other calls, like pydarn.plotting.overlayFov(), say that these will overlay onto a basemap object.  That is no longer true, as you actually need to provide a mapObj with specified datetime attribute.

I think @mrwessel may have s

[2014-10-20 21:31] mrwessel opened #118 "fetchUtils fails to find convection map files for some directory structures"
If I have a directory structure with no time keys in it, e.g., `/home/matt/mapfiles/`, fetchUtils will not find files there because of the way time key searching (lines 203 to 231 in develop) is set up.  An `ls` is only run on the directory if a time key is found in the directory format.  If the directory format is being set manually anything should be possible, and if for some reason that isn't a

[2014-10-23 15:39] #99 closed, assigned to nobody

[2014-10-29 20:00] ksterne opened #119 "Iterative data reading or memory leak"
Moving this off of the google group and into github since it seemed as though it was a problem with the code and not something that I was doing.

Again, here is a summary of the problem I'm seeing:

I'm running some code that reads in rawacf files for an entire day for one radar, searches for certain characteristics and then moves on to the next day in repeat. I'm doing a radDataOpen for each day.

[2014-11-06 15:23] guohucn opened #120 "Problem with Rti mag plotting"
Hey, guys. I am new here, and not familiar with davitpy.
I'v got a problem as follows:
input:
  t1=dt.datetime(2013,3,17,11,50)
  t2=dt.datetime(2013,3,17,14,0)
  fig=pydarn.plotting.rti.plotRti(t1,'cvw',t2,bmnum=4,params=['velocity'],coords='mag')
output:

![figure_1](https://cloud.githubusercontent.com/assets/9592043/4938007/7bd09082-65c8-11e4-8664-0ecb8716d429.png)

It looks like the data above

[2014-12-30 20:42] asreimer opened #122 "Mac dependency scripts don't allow for quick easy installation."
As @GPerry306 can confirm, the mac dependency scripts do not allow for a quick and easy installation of davitpy. Macports didn't seem to work at all, and then there were some issues with Homebrew as well.
![guidelines](https://cloud.githubusercontent.com/assets/4604819/5582593/a41313c4-9031-11e4-9660-4b6b6d274ee9.jpg)

I'm filling this issue just to say that the mac dependency scripts need some TL

[2014-12-30 20:49] #83 closed, assigned to nobody

[2014-12-30 21:16] #30 closed, assigned to nobody

[2015-01-05 15:38] aburrell commented on #122
I think another problem is that the install scripts assume that the person beginning to use davitpy is a new python user.  Perhaps it would be better/also useful to have a script that checks to see which dependencies (if any) need to be installed.  If we were really clever the check script could build a personalized install script.

[2015-01-09 21:02] Shirling-VT opened #126 "A bug in plotUtils.py"
When I ran the maps.ipynb in the notebook, the following error came out:
UnboundLocalError                         Traceback (most recent call last)
<ipython-input-5-e40ba87ab2a6> in <module>()
      2 # Plot map
      3 subplot(121)
----> 4 m1 = plotUtils.mapObj(boundinglat=30., gridLabels=False)
      5 overlayRadar(m1, fontSize=8, all=True, markerSize=5)
      6 subplot(122)

/usr/local/lib/pyt

[2015-01-09 21:09] asreimer commented on #126
Thanks for the report @Shirling-VT! Could you let me know what branch you were using when you encountered this bug? We have different procedures for fixing bugs depending on if they occur in the `master` or the `develop` branch.

[2015-01-09 21:14] Shirling-VT commented on #126
It is the develop branch. Thanks for your reply~

[2015-01-11 05:20] asreimer commented on #115
I've started working on this. ETA end of January.

[2015-01-11 06:25] asreimer commented on #126
Fixed in https://github.com/vtsuperdarn/davitpy/pull/127.

[2015-01-12 16:24] Shirling-VT commented on #126
Thanks, Aston! I'm sorry I just merged them accidentally, but test them afterward. It works well. Please let   me know if I did something wrong.

[2015-01-12 17:14] asreimer commented on #126
#127 has been merged, issue resolved.

[2015-01-12 17:14] #126 closed

[2015-01-13 19:16] asreimer opened #128 "Ensure davitpy figures are backend agnostic."
Have a look at the `rti.py` and `fan.py` codes and see that they support plotting to a file. This is great functionality to have. As @sdelarquier has mentioned in the past, it is particularly useful if one wants to run davitpy on a server through an ssh connection without a GUI. This means that we should work towards a codebase where all plotting routines can easily plot to files. It would be very

[2015-01-14 12:25] aburrell commented on #128
Hmmm…  I wonder if it wouldn’t be better to make a module (plotUtils.py, perhaps) and include these as functions since we don’t have any data to hold.  It could hold a lot of things that are done to create figures, like outputting the file/gui, adding a colorbar, creating a title string based on radar code and time (for example), et cetera.

On 13 Jan 2015, at 19:16, asreimer <notifications@github

[2015-01-29 18:37] asreimer opened #129 "Minor Bug: Apparent Violation of Causality"
__Bug description__
Attempting to fetch a file in the future with `radDataOpen` does not fail as it should. What happens is that `fetchUtils` grabs the latest available file, a behaviour that is needed due to the unfortunate way in which we name our files (only a start time in the file name, no end time). If a user asks for data from say 2UT to 4UT, but data files are only available for `['2014012

[2015-02-04 04:52] asreimer commented on #115
I've refactored the code so it is ready for the rc_params dictionary to be added. The branch that I'm working in is here: https://github.com/asreimer/davitpy_asr/tree/enhancement_rc_params

The biggest change that has been made is that the `pydarn`, `models`, `gme`, and `utils` libraries have all been moved in to a `davitpy` directory. Also, instead of using `import x` to get at `pydarn`, `models`

[2015-02-04 07:14] cmeeren commented on #115
+1 for everything being inside `davitpy`!

[2015-02-04 14:39] w2naf commented on #115
I support this, too!

~Nathaniel

On Wed, Feb 4, 2015 at 2:14 AM, Christer van der Meeren <
notifications@github.com> wrote:

[2015-02-05 18:28] mrwessel opened #130 "Redundant cached file checking in rad/sdDataOpen"
fetchUtils already checks for for cached files so it's no longer necessary for rad/sdDataOpen to do the check.

[2015-02-19 22:26] mrwessel commented on #122
I have a basic Python install (2.7.6) on my Mac, and now I will try to install davitpy.  Watch this space...

[2015-02-20 16:12] johncoxon commented on #122
I managed to install it just fine using MacPorts. I installed the relevant bits and bobs, but to get `gfortran` and `mpif90` working I had to run `port select gcc` and `port select mpi`.

[2015-02-20 16:20] johncoxon commented on #100
Was this ever resolved? If not, is there a timeframe on which it could be?

I am getting results from the Tsyganenko model in davitpy which I just don't believe (magnetopause is apparently at 2 RE, which is not sensible). I installed davitpy entirely because it implements T96, so this is rather critical functionality from my perspective….

[2015-02-20 16:50] johncoxon commented on #100
I have just installed @sdelarquier's standalone Tsyganenko module, and found that I get values that I don't believe from the code there as well as from DaViTPy. [I have filed a bug report outlining these issues](https://github.com/sdelarquier/tsyganenko/issues/1).

(I've not done any Tsyganenko model work before, but I'm fairly confident that the output is wrong, and that this is due to the same b

[2015-02-23 17:02] mrwessel commented on #122
I'm using Homebrew.  The script worked ok, with the exception of being unable to find anything for PIL, until it got to Basemap.  There is no `cd` into the basemap directory before attempting to run the setup file so that failed.  When I did that job manually I also had to install geos (I think that was it, will check later) before Basemap would install.  Next was adding the `source profile.mac` t

[2015-02-23 17:08] aburrell commented on #122
We should push the changes that got rid of mastermake.

Also, is there a reason we get basemap from github instead of letting macports or homebrew do it?

On 23 Feb 2015, at 17:02, Matt Wessel <notifications@github.com> wrote:

[2015-05-12 21:04] asreimer opened #135 "Handling/removal of unneccesary environment variables"
As I've been switching the codebase over to using entries in a `rcParams` dictionary (see https://github.com/vtsuperdarn/davitpy/issues/115) instead of environment variables, I've encountered a few that I'm not sure what to do with. Specifically, `DBWRITEUSER` and `DBWRITEPASS`. I don't know what they are supposed to be set to, and I don't know the consequences of default values being available on

[2015-05-13 10:30] aburrell commented on #135
Keeping them empty sounds good to me.  I wonder, though, if there’s a bit we could add to the setup that fills these values for each user upon installation?

On 12 May 2015, at 22:04, asreimer <notifications@github.com> wrote:

[2015-05-13 12:17] w2naf commented on #135
Hi, everyone.

I would say unless we are absolutely sure they are no longer in use, we keep them in.  Things we want to get rid, but aren’t sure about, we can comment out for now.

I do know about DBWRITEUSER and DBWRITEPASS.  Those are used by the routines that populate the MongoDB databases.  Virginia Tech may be the only one that uses those right now, but they could be used by anyone who sets u

[2015-05-13 23:04] asreimer commented on #135
Thanks for the feedback! I'll definitely keep them around, but I will set them as empty by default.

What I will do is include them in the `davitpyrc.template` (https://github.com/asreimer/davitpy_asr/blob/enhancement_rc_params/davitpyrc.template) and I'll add them to the `defaultParams` (https://github.com/asreimer/davitpy_asr/blob/enhancement_rc_params/davitpy/rcsetup.py#L182) dictionary where t

[2015-05-13 23:04] #135 closed

[2015-05-14 00:56] asreimer opened #136 "Incorporate remaining environment variables into rc_params"
So I've finally finished the rcParams stuff, but in the interest of progress, I wasn't able to replace all references to environment variables with `rcParams` dictionary entries. Here is a list of files that still contain `os.environ` calls or references to environment variables:

* aacgm.c
* radStruct.py
* radInfoIo.py
* pydarn/radar/`__init__.py`

I may have neglected some files in the models di

[2015-05-19 02:27] w2naf commented on #136
Hi, @asreimer!

I pulled your changes and pushed them to my branch/pull request.  I'm now testing the notebooks to check for problems.  Currently, the following work on my machine (with 1 bug fix, included here):

*GOES.ipynb
*MUSIC-Simulate.ipynb
*MUSIC.ipynb
*SuperDARN Data Plotting.ipynb
*maps.ipynb

The following have issues:
*geoPack.ipynb
*models.ipynb

I haven't tested anything else yet.

S

[2015-06-16 17:46] simonmr opened #138 "Ideas for updating davitpy to process real time json data"
Hi,
I'm new to davitpy but I've been working over here at University of Alaska to update our current real time radar plot from java to python. In the process of doing this I've wrapped the server code that runs on our radar sites so that it outputs json data instead of the current output.
My task now is to, finally, convert the java code to python for the real time application linked on our websit

[2015-06-16 23:43] asreimer commented on #138
Hey @simonmr,

That sounds excellent! I'm very happy to hear that someone is finally building a new real time plotting application for SuperDARN. Will this be open sourced at some point? I think we at SuperDARN Canada would be very interested in it

I'm not sure how you were planning on plotting the data in real time, but have you heard of mpld3 (https://mpld3.github.io/index.html)? If you were to

[2015-06-17 00:38] simonmr commented on #138
This sounds great. I can definitely make it open source once I have more of
an idea exactly how I am going to implement this. I will look more into
mpld3 that sounds really interesting. I'm currently using Tkinter, a built
in GUI functionality in python, but it has a fair amount of lag time.

Thanks for all of the help

On Tue, Jun 16, 2015 at 3:43 PM, asreimer <notifications@github.com> wrote:

[2015-06-25 15:24] johncoxon opened #140 "Complete uninstallation?"
I'm using Anaconda and MacPorts. I installed davitpy but I haven't really been using it – the only thing I wanted was the Tsyganenko model, which I believe is still not working in the latest release. If I use `port` and `pip` to uninstall the packages installed by setup.py and delete the davitpy folder on my machine, will that zap everything that davitpy installed? Or are there things that are lur

[2015-06-25 15:29] aburrell commented on #140
It should.  You just need to check your python library folder to be sure.

On 25 Jun 2015, at 08:24, johncoxon <notifications@github.com> wrote:

[2015-07-22 20:37] ksterne opened #142 "radar/radInfoIo bugfix in master branch"
I was looking into something today and noticed that on the master branch the radInfoIo file has a bug in it where the hdwRead function has a reference to a sys function, but sys isn't imported as it is in the other functions.  It looks like Nathaniel reworked this for the develop branch, but can I just add the import sys to that for the master branch to fix that?

[2015-07-22 20:39] asreimer commented on #142
If we want to follow our branch and pull model, create a branch from master called `hotfix_radInfoIo_sys_bug` and then make the change there and make a pull request. I'm guilty of not following this one time in the past.

[2015-07-22 20:40] asreimer commented on #142
I can merge the pull request as soon as you post it.

[2015-07-22 20:52] ksterne commented on #142
Done it with #143.  Thanks for the refresher on the proper way to do this.

[2015-07-22 20:52] #142 closed

[2015-07-22 20:53] asreimer commented on #142
Yup, merged it.

[2015-08-02 19:12] #11 closed

[2015-08-04 22:48] asreimer commented on #100
This bug has now finally been fixed in #141. Fixed by commit d88bfae!

[2015-08-04 22:48] #100 closed

[2015-08-06 03:39] sdelarquier commented on #100
Thanks @asreimer, you rock!

[2015-08-21 20:00] #129 closed

[2015-08-21 20:00] asreimer commented on #136
Fixed by https://github.com/vtsuperdarn/davitpy/pull/141

[2015-08-21 20:00] #136 closed

[2015-08-21 20:01] asreimer commented on #115
Enhancement added by https://github.com/vtsuperdarn/davitpy/pull/141

[2015-08-21 20:01] #115 closed

[2015-08-21 20:05] #140 closed

[2015-09-04 20:49] asreimer commented on #97
#141 has removed environment variables so this should no longer be an issue. Also, the problematic line of code (`echo "source $dir/../profile.bash" >> ~/.bashrc`) has been removed anyway.

[2015-09-04 20:49] #97 closed

[2015-09-04 20:58] asreimer commented on #24
Just did some testing using the current `develop` branch. Seems this bug is fixed.

[2015-09-04 20:58] #24 closed

[2015-09-04 21:03] #94 closed

[2015-09-04 21:05] #117 closed

[2015-09-05 00:21] simonmr opened #145 "Help in decreasing the processing time of a real time davitpy"
I have been working with the pydarn scripts to allow them to read in and process real time json data.

To help redesign our real time processing java scripts I used davitpy code as a basis and then built/ modified the parts that receive, parse and cycle through the data. It then takes the generated graphs and saves them as a png on a local server. The html code, which is located on that server, pe

[2015-09-09 15:32] johncoxon opened #146 "davitpy breaks IPython upon installation"
I'm running Anaconda 2.3.0 with Python 2.7.10 on OS X 10.10.5. I installed davitpy today, using the following steps. Firstly, I cloned the repo using GitHub's OS X app and cloned my root environment in Anaconda to an environment called `davitpy`. Then, I did:

    sudo ./install/python_install_mac_port.sh

It should be noted that the call to `./mastermake` at the end failed, presumably because it'

[2015-09-09 16:58] asreimer commented on #146
Once you get anaconda reinstalled, can you let us know if ipython is working or not? @w2naf recently found out that ipython and the ipython notebooks have been going through substantial changes:
in #144 @w2naf wrote:

Also, I'm not sure how good the mac install scripts are. We've had some problems with them in the past (a la: #122) and I don't have a mac to do any testing on (not part of the cool-

[2015-09-09 17:05] asreimer commented on #145
Very nice! I'm happy to see this project coming along so well. I'm a bit busy right now (start of the term, etc, etc) but I'll have a look at the code in the next week or two. I'll have to learn some json too.

Is all of the code needed to get a real-time server up and running in your repository (doesn't appear to be, just looks like a client)? If not, what are you guys using for the server? If I

[2015-09-09 17:06] asreimer commented on #45
Looking at this again, it might be easiest if we completely replace the `dmap.c` code with a python version instead.

[2015-09-09 17:35] asreimer commented on #145
Couldn't help myself, I just had a look at the code.

At first glance, I noticed that the geographic plots are being generated from scratch every time. The most expensive piece of the geo plots is the creation of the utils.mapObj, which is essentially just a basemap object. It take a long time to initialize and draw basemap objects, so instead of continuously creating new ones, perhaps it would be

[2015-09-09 17:54] aburrell commented on #145
I don’t know if this works with the utils.mapObj or not, but I’m sure it does.  If you don’t want to delete data (which can also take a while, especially if you have collections and patches), you can draw a map to a new figure or subplot using a saved basemap map handle.  You can make a basemap object a utils.mapObj object just by adding a datetime to the handle as an attribute.

On 9 Sep 2015, at

[2015-09-09 18:19] simonmr commented on #145
Thanks for those suggestions I have noticed that regenerating the geographic plots are taking the most time and will look into keeping the basemap object and somehow updating the radar field of view.

If you decide to set up the server any ways it is located here:
 https://github.com/jspaleta/SuperDARN_MSI_ROS/tree/mcm-devel/linux/home/radar/ros.3.6/codebase/superdarn/src.bin/os/rtmichelle.0.1/rts

[2015-09-09 18:32] johncoxon commented on #146
It worked upon reinstall, yup.

[2015-09-09 18:45] asreimer commented on #146
Probably this line: https://github.com/vtsuperdarn/davitpy/blob/master/install/python_install_mac_port.sh#L19

is overwriting the installation of ipython that anaconda installs. This combined with the changes they are making to ipython is probably causing you problem, but without a mac myself, I can't help you out much more than that.

You could try using the install script (`python_install_mac_po

[2015-09-12 16:02] jaestephenson opened #147 "davitpy-notebook command fails after install"
Please help me with an issue I am having with DavitPy installation. I am starting a new install of it on a Ubuntu 14.04 machine. Using Python 2.7.6. I def am in a bash shell. I notice a difference from my last install (last year) using develop branch. I could not get this to work, so instead used the setup branch as indicated on the website. All went will with the installation but when I type "dav

[2015-09-15 12:18] MuhammadVT commented on #147
Hi,

Please take a look at the issue #146
<https://github.com/vtsuperdarn/davitpy/issues/146> which might be relevant
to you.

Thank you

On Sat, Sep 12, 2015 at 12:02 PM, jaestephenson <notifications@github.com>
wrote:

[2015-09-15 18:47] asreimer commented on #147
Hey @jaestephenson

What did you do to install the current development branch? For example, it is a bit harder to know what could be causing the problem without knowing whether or not you re-ran the debian_dependencies.sh script in the install directory. Can you tell us what you did to install davitpy?

I suspect the problem you are having is related to the new changes to ipython and ipython noteb

[2015-09-15 19:16] ksterne opened #148 "README / install instructions updates"
As mentioned in https://github.com/vtsuperdarn/davitpy/pull/141 , the README file still mentions that the dependencies script will modify the ~/.bashrc file.  However, this doesn't seem to be the case after the merge from the above mentioned pull request.  Seems as though this needs to be edited as it may be confusing.

[2015-09-15 19:37] garimamalhotra commented on #147
Hi,

I have faced the same issue and I solved it by removing and then freshly
doing a pip install on ipython notebook.

On Tue, Sep 15, 2015 at 2:47 PM, asreimer <notifications@github.com> wrote:

--
Regards

*Garima Malhotra*
*Virginia Tech*
*Ph :+1540-750-6057*

[2015-09-15 21:19] asreimer commented on #128
So investigating this, I don't think making a generalized figure class is a good idea. Doing this is a bit complicated and also may result in davitpyrc settings that clobber settings in matplotlibrc. Instead, we should make sure that our code is backend agnostic and that by default it returns the figure object for any figures being made so that the user can decide to save the figure manually or le

[2015-09-16 06:51] aburrell commented on #128
This course of actions sounds best to me.

On 15 Sep 2015, at 22:19, asreimer <notifications@github.com> wrote:

[2015-09-16 10:38] jaestephenson commented on #147
Hey Ashton

I don't know if you remember me but I was at SD in Leicester?

I would be very grateful with your help with DavitPY installation as the
instructions seem confusing!.

In my install attempt I used the develop branch and then installed the
dependencies. The makefile would not compile anything and I noticed that
the .bashrc had not been modified. So then I tried to checkout the setup
bran

[2015-09-16 10:55] ksterne commented on #148
Need to specify which branch should be used and how to switch between branches.  This may make a branch specific README file, but default when you clone davitpy is to be on the master branch.  This got me a number of times when I was trying to install code on something not the master branch.

[2015-09-16 18:58] asreimer commented on #148
This is a good point. And we've been seeing some other people filing issues to do with installing davitpy so we should try to make this a higher priority.

[2015-09-16 19:14] asreimer commented on #147
Hi Judy,

I do remember seeing you in Leicester! Although I'm not sure if we had the chance to be properly introduced.

As you and @ksterne have pointed out the instructions in our current README are not up to date. Sorry about that. I'll try to give you some clear installation instructions here. I'll start from the very beginning assuming you have never installed davitpy before. I'm also going to

[2015-09-16 19:17] asreimer commented on #147
I should mention that we no longer support the davitpy-notebook command. If you want that, simply add an alias to your shell environment. In bash, something like:

`alias davitpy-notebook='ipython notebook`

should do it. Consult the README in the bin folder for the `davitpy` command.

[2015-09-17 09:57] jaestephenson commented on #147
Awesome. Thanks Ashton :) Will let you know how we get on

On 16 September 2015 at 21:17, asreimer <notifications@github.com> wrote:

[2015-09-18 17:17] asreimer commented on #128
With pull request #149 RTI plotting has been made backend agnostic.

[2015-09-18 20:28] asreimer commented on #120
This is now fixed in #149. The problem was the beam 4 of CVE increases and then decreases in magnetic latitude. This means that when plotting as a function of mlat, the far range gates without data in them were getting plotted as white squares on top of the data at nearer range gates.

I fixed this bug by masking range gates without data in them and then using the `set_bad` method on the colormap

[2015-09-18 20:28] #120 closed

[2015-09-22 14:49] MuhammadVT commented on #120
Hi Ashton,

I tested that the bug in #120
<https://github.com/vtsuperdarn/davitpy/issues/120>has been fixed by this
pull request.

A very minor issue is that it looks like the function arguments in the doc
strings are not matching the corresponding functions' arguments quite well,
and the examples are not updated, for example, the doc strings of
plot_skynoise, plot_searchnoise, plot_freq, etc.  Wo

[2015-09-24 14:23] ksterne commented on #119
This was bad programming on my part as you see from the example code that I open the myPtr, but never close it.  Added a myPtr.close() to the end and I think it's working much better.

[2015-09-24 14:23] #119 closed

[2015-09-24 14:25] asreimer commented on #119
Good to know! Thanks!

[2015-09-30 00:57] tkanmae opened #155 "Possible bug in MLT (AACGM) calculation"
I'm filing a possible bug in `astmlt()` in models/aacgm.

The function computes the solar apparent time `at`, which is a double, and passes it to `astmlt1()` as `t0`, which is an int. It seems that the implicit downcast produces a corrupted value for `t0`. For example, I got `t0 = 2.20979e-314` for `at = -347.008`.

[2015-10-01 02:17] MuhammadVT commented on #155
Hi Takeshi,

Thank you for reporting the bug for us. We will address this issue.
As double *at  is *usually a large number, passing it to int *t0  *may only
have a very negligible effect in terms of precision.

Thanks

On Tue, Sep 29, 2015 at 8:57 PM, Takeshi Kanmae <notifications@github.com>
wrote:

[2015-10-01 22:15] ksterne commented on #148
I addressed at least the reminder to switch branches with  b73fc6d6051a2007909dd1588e790182f3f59ace on the develop branch.

[2015-10-02 01:26] tkanmae commented on #155
Muhammad,

I suspect that the implicit downcast introduces non-negligible errors in resultant magnetic local times.

`astmlt()` computes the solar apparent time `at` in units of seconds and declination `dec`in units of degrees, and passes them to `astmlt1()`. Note that `at` is passed to `astmlt1()` as a parameter `t0`, which is declared as an int. Using the solar apparent time, `astmlt1()` compute

[2015-10-02 15:48] MuhammadVT commented on #155
Hi Takeshi,

I agree with what you said. Declaring *t0* in *astmlt1()* as double seems a
better approach to me. Since you have discovered this bug, would you mind
sending a pull request from your github account to our "develop" branch in
vt davitpy repository? We would appreciate if you could include some test
code that prints out the calculated mlt values before and after fixing the
bug, and comp

[2015-10-02 15:53] MuhammadVT commented on #155
Hi Takeshi,

I forgot to mentioned that the "develop" branch in our davitpy repository
is the most up-to-date one. Please do the bug fixing based on the "develop"
branch.

Thank you

On Fri, Oct 2, 2015 at 11:48 AM, Muhammad Rafiq Ahunbay <
mamatripik@gmail.com> wrote:

[2015-10-05 06:16] tkanmae commented on #155
Muhammad,

I will PR on this issue within a week. Do you mean that you want me to include commits with printing out relevant information?

Takeshi

[2015-10-05 12:01] MuhammadVT commented on #155
Yes, that is what I meant.

Thank you.

On Mon, Oct 5, 2015 at 2:16 AM, Takeshi Kanmae <notifications@github.com>
wrote:

[2015-10-09 09:49] zmtumela opened #156 "davitpy installation and notebook issues"
Hi all,  I am new in  davitpy installation,  I have experience many complications, following the new way of davitpy installation.
1. I think I managed to install it until executing davitpy.  To get at pydarn, I used from davitpy import pydarn;
I get the ff
zmtumela@zmtumela-OptiPlex-9020:~$ davitpy

DaViT-Py Copyright (C) 2012 VT SuperDARN Lab
This program comes with ABSOLUTELY NO WARRANTY; for de

[2015-10-09 12:55] walkeradm commented on #156
Hi Zolile

I am replying directly to you. I had the same problems in re-installing
davitpy and have fixed it. The point seems to be that the new davitpy
installation breaks ipython in some way .

This is what I did:

1. Completely removed old ipython (I used synaptic package manager,
selcted all the ipython files and checked "completely remove")

2. Reinstalled the latest stable version of ipython

[2015-10-11 08:18] zmtumela commented on #156
Hi Prof.
Thank you so much!! I have tried this and I got davitpy-notebook filr under notebook directory.
But I am still experiencing some problems like
zmtumela@zmtumela-OptiPlex-9020:~$ /home/zmtumela/davitpy/docs/notebook/davitpy-notebook
Traceback (most recent call last):
  File "/usr/local/bin/ipython", line 11, in <module>
    sys.exit(start_ipython())
  File "/usr/local/lib/python2.7/dist-pa

[2015-10-11 14:01] MuhammadVT commented on #156
Hi Zolile,

Would you mind telling us the steps that you took for installing davitpy?

On Sun, Oct 11, 2015 at 4:18 AM, zmtumela <notifications@github.com> wrote:

[2015-10-11 14:19] MuhammadVT commented on #156
Hi Zolile,

Sorry, I sent an unfinished email accidentally.

It looks like the problem is with the Ipython Notebook, not the davitpy
itself. The instructions given by Prof. Dave should fix the Ipython
problem.  However, If you want to see some examples of davitpy, there are
test codes in the end of some of the files. (e.g., fan.py in
davitpy/pydarn/plottings/). If you need specific examples, pleas

[2015-10-12 14:07] zmtumela commented on #156
Dear Muhammad
Thanks!! I followed the following steps for new davitpy installation

Remove the old DaViT-py installation
1) Execute pip uninstall davitpy
2) Remove any davitpy entries in your .bashrc file.

Getting DaViT-py and switching to the develop branch
1) Ensure the you have git installed on your computer >>>sudo apt-get install git

2) Clone the davitpy repository with >>> sudo git clone h

[2015-10-12 22:56] MuhammadVT commented on #156
Hi Zolile,

Sorry, I can't suggest you a better way than what you have already
mentioned. However, I have converted all the ipython notebooks we have in
the davitpy/docs/notebooks directory into html files. I have tried firefox
to open them and they all look good. Although they are static, it might be
useful for you to get familiar with davitpy. I failed to attach them here
although the size is ~9

[2015-10-13 01:05] ksterne commented on #147
@jaestephenson, were things resolved here?  I'm wondering if we can close this issue even though it seems like this is like other issues ( #156, #146).

[2015-10-13 13:46] MuhammadVT commented on #147
I think we can close it as Nathaniel's pull request (#157
<https://github.com/vtsuperdarn/davitpy/pull/157>) fixes the problem.

On Mon, Oct 12, 2015 at 9:05 PM, Kevin Sterne <notifications@github.com>
wrote:

[2015-10-13 13:47] w2naf commented on #147
I was just about to say that!!

[2015-10-13 13:50] w2naf commented on #147
#157 is a pull request into develop, and #158 is the same thing into release-1.0.

[2015-10-13 13:54] MuhammadVT commented on #156
Hi Zolile,

One of our developers has just created a branch called
*hotfix_install_jupyter* in our davitpy VT repository , Please install this
branch and try Ipython Notebook. The installation is the same as you have
did before except that change *develop* branch into hotfix_install_jupyter.
By doing this, you are also giving us a big by testing this branch.

Thank you.

Muhammad

On Mon, Oct 12,

[2015-10-13 14:16] jaestephenson commented on #147
Hi

No DavitPy is not yet working. Zolile's enquiry follows problems after the
help I got from my issue.

Judy

On 13 October 2015 at 03:05, Kevin Sterne <notifications@github.com> wrote:

[2015-10-13 14:42] zmtumela commented on #156
Dear Muhammad
Thank you so much. I will try that and i will let u know. My email address:zolilemtumela@gmail.com.
Many thanks
Zolile

[2015-10-13 14:53] w2naf commented on #147
Hi, Judy.

Did you try this?
sudo pip install jupyter

Then, use the command “ipython notebook” instead of “davitpy-notebook”.  I think it will work.

The people who write iPython have recently split ipython and the notebooks into separate projects, and this has changed the software packages he need to install.

Take care,
Nathaniel

[2015-10-14 08:34] zmtumela commented on #156
Dear All,
Final, davitpy installation has been completed the davity-notebook is working.
The hotfix_install_jupyter is working and helpful. Thank you all with all your help.
Many thanks
Zolile

[2015-10-14 13:10] MuhammadVT commented on #156
Great. Thank you for helping us bring up the issue and testing the new
branch.

On Wed, Oct 14, 2015 at 4:34 AM, zmtumela <notifications@github.com> wrote:

[2015-10-14 13:16] #156 closed

[2015-10-15 12:31] jaestephenson commented on #147
Thanks Nathaniel. The problem is now resolved :)

On 13 October 2015 at 16:53, Nathaniel Frissell <notifications@github.com>
wrote:

[2015-10-15 13:03] w2naf commented on #147
Great, Judy!  I'm glad it worked!

Nathaniel

[2015-10-15 13:03] #147 closed

[2015-10-15 13:44] salsrag commented on #147
Nathaniel,

I had the opposite problem of Judy’s.  I believe that last night when I started working I had to use “ipython notebook”. However, I crashed my python this morning and when I restarted I had to use “davitpy-notebook”. Do I have two different  systems running on my machine and I have to be careful as to how I get to the notebook directory?

Ray

From: jaestephenson [mailto:notifications@

[2015-10-27 18:40] asreimer opened #167 "Mapfile Plotting Improvements"
There are a couple of issues with the current mapfile plotting procedures (code is found in the [davitpy/pydarn/plotting/plotMapGrd.py](https://github.com/vtsuperdarn/davitpy/blob/develop/davitpy/pydarn/plotting/plotMapGrd.py) file). Here's a summary of things that need to be done:

1) Proper MLT plots (noon should be at the top of the plot, mlon labels should be converted to hours, etc.)
2) `__in

[2015-10-28 08:11] aburrell commented on #167
I was just looking at this, and it also needs to accept “password” as a kwarg, allowing downloads at servers other than VT.

[2015-10-30 22:11] asreimer opened #173 "Plotting: Parameter Labelling"
Hey everyone,

Prompted by https://github.com/vtsuperdarn/davitpy/pull/151#issuecomment-150005370 and https://github.com/vtsuperdarn/davitpy/pull/124#issuecomment-68890436 we need to figure out what we want to do in regards to parameter labelling in our plotting routines. For example, should we label velocity with "m/s", or "$m s^{-1}$", or "$\frac{m}{s}"? Do all journals have similar/same labelli

[2015-10-30 22:47] asreimer opened #174 "Support reading CFIT format files"
As seen with https://github.com/vtsuperdarn/davitpy/pull/163 there is a need to be able to read in CFIT format files (the previous file format version used before DMAP, transition was made in 2006).

A solution is to follow what was done for dmap files a la [dmapio](https://github.com/vtsuperdarn/davitpy/tree/develop/davitpy/pydarn/dmapio). This means that someone could cannibalize some of the [C

[2015-10-31 11:51] aburrell commented on #173
Font size selection can be made as a routine call.  I have a local routine I use to do this and I think it’s nice because you don’t always want the same font size for plots.

From what I’ve seen Annales and JASTP have the same requirements as JGR or have no problem if you follow the JGR requirements.  What other journals are people publishing in?

[2015-11-02 15:05] salsrag commented on #173
The most important issue is font size. In the end it has to be legible.  Font sizes for presentations are not necessarily the same as font sizes for publications, especially if one has to reduce the figure to 1 column in a 2 column spread. A related issue is having too many axis labels. What may look good for a presentation in landscape format, will look very crowded when reduced to a single colum

[2015-11-02 21:56] ksterne commented on #120
I agree here with @MuhammadVT , it seems as though this is fixed in #149.

[2015-11-04 16:32] ksterne commented on #102
I think we're good to close this old, old bug?

[2015-11-04 17:03] asreimer commented on #102
I don't know. I just tried making a convection map using my old testing code in #103 and the mlt labels are wrong.

[2015-11-04 17:08] aburrell commented on #102
Same here.  I think this is a problem that was never addressed.

[2015-11-04 17:19] asreimer commented on #102
While I don't remember explicitly and haven't looked through the commit history to verify, I merged #103 because it did fix the labeling issue. Something else maybe broke it?

Either way, it appears this MLT labeling issue still persists...

[2015-11-11 12:48] cmeeren opened #180 "Installing most recent master branch, models unavailable"
Hi guys, I just installed the most recent master branch and followed the readme. When I run `from davitpy import utils`, I get the following:

[code]

Did I miss something?

Also, when I run the `SuperDARN Data Plotting.ipynb` notebook, the line `pydarn.plotting.rti.plotRti(sTime, radar, eTime=eTime, bmnum=beam, figure=fig)` prints (among other things) `cannot import name readDmapRec`.

---

I jus

[2015-11-11 20:51] ksterne commented on #180
Hi @cmeeren,

I just tried to switch over to the new master myself today and it seems as though we missed something here.  The setup.py file was left with the old directory structure.  So, I just put in a hotfix to correct that as well as update the version number for the davitpy package.  Can you try things again with the hotfix I just put in?

I also "updated" the release/tag point for 0.4 here

[2015-11-11 21:17] ksterne commented on #180
Actually, I'm not confident that that "fix" actually fixes anything.  It seems as though now I'm not seeing any of the pydarn packages being loaded....I'll keep the 0.4 tag, but the source_dirs should be just davitpy...I think.

[2015-11-11 21:18] asreimer commented on #180
@ksterne if you look at the develop branch (which installs perfectly fine!) the edit you made to the `source_dirs` variable isn't present...

I think you should roll back that patch you did in master until we've figured out exactly what is causing this install problem.

[2015-11-11 21:21] asreimer commented on #180
Oh, just saw your post @ksterne. Also, I can confirm that your fix actually breaks the `davitpy` install (a good example of why we try not to deviate from the branch and pull model).

I'm looking in to @cmeeren's problem right now too.

[2015-11-11 21:25] ksterne commented on #180
Looks like we crossed here.  I've rolled it back and updated the release/tag here as well.  I noticed the problem after the fact as the print of the sources at the end was giving nothing.

So the problem I'm hunting down is the setup.py file isn't finishing.  I'm getting an error whenever I run the sudo python setup.py install of:

writing davitpy.egg-info/PKG-INFO
writing top-level names to davit

[2015-11-11 21:30] asreimer commented on #180
Interesting. Let's try to nail down the parameters a bit more here. @cmeeren what did you do to install davitpy? Also, what system are you running this on? For example, here's what I do:

I'm running Ubuntu 14.04 (but this also works on Fedora 22):
1) change to the master branch in the same directory as setup.py is in and run: `git pull origin master`
2) delete the build and davitpy.egg-info direc

[2015-11-11 21:31] asreimer commented on #180
@ksterne no worries about the fix. It's awesome to have you developing this software! You should see some of the mistakes I made before on here :P!

[2015-11-11 21:43] asreimer commented on #180
I just installed davitpy system-wide using `sudo python setup.py install` and I'm not having issues running davitpy...

[2015-11-11 23:03] cmeeren commented on #180
I am using the Anaconda scientific Python distribution, Ubuntu 15.10 (I think). For installing davitpy, I followed the readme, but after running the script to install dependencies (before running setup.py) I manually installed/updated the relevant python packages in my anaconda distribution also. I then ran ``sudo python setup.py install``. I then got the errors when running Python from Spyder IDE

[2015-11-12 07:26] asreimer commented on #180
@cmeeren can you try running an ipython session (or just python) from a terminal and then try importing davitpy from there instead? This will tell us if there is any voodoo magic might be happening under the hood of Anaconda and/or the Spider IDE. I don't use anaconda, but if someone else does maybe then can see if they are having issues?

Another thing to try is uninstalling all instances of davi

[2015-11-12 08:18] cmeeren commented on #180
I found one error at least... davitpy seems to be installed to the python in `/usr/bin/python`, not the anaconda installation. Which is weird, since anaconda is the default one (when I run `python` in a terminal it runs python from `~/anaconda/bin/python`).

I tried to install using the --user option. Without sudo, this is what I got - note the "permission denied" at the bottom:

[code]

With `sud

[2015-11-12 08:27] cmeeren commented on #180
Hum. I rebooted and the following code runs successfully:

[code]

![figure_1](https://cloud.githubusercontent.com/assets/7766733/11113729/7cf96594-891f-11e5-8fd1-84c92accf96c.png)

[2015-11-12 08:37] asreimer commented on #180
Yup, seems like some kind of anaconda voodoo.

The fatal error you are getting is for the raydarn fortran code. You will find that raytracing probably doesn't work in your davitpy installation. I think the fatal error is being caused either by not having the right version of mpi installed (must be mpich not openmpi) or you still have the old .mod files in the models/raydarn folder (try removing th

[2015-11-12 08:39] asreimer commented on #180
Oh, and the permission denied thing you had while not using sudo is because of a file permissions problem you have somewhere (proabably a file was created as root and it can't be overwritten without being root).

[2015-11-12 08:53] cmeeren commented on #180
I fixed the permission thing, you were right.

Re-installing from a clean repo did not fix the MPI fatal error. I do have mpich (latest version).

I vaguely remember having similar problems (MPI and fortran compiler version mismatch) back when I first tried davitpy a couple of years ago.

[2015-11-12 09:14] aburrell commented on #180
It’s probably the same thing again.  We should put a warning about this in the install directions.

[2015-11-12 09:43] cmeeren opened #181 "Can't get scans from radDataPtr, what am I doing wrong?"
I can't figure out why this isn't working. I know there is supposed to be data from this time.

[code]

[2015-11-12 18:38] asreimer commented on #181
Try another radar. If you do this with Saskatoon for instance, it works perfectly.

Investigating, I found the problem you had is caused by Hankasalmi having a very odd scan flag structure. For example, here's the scan flag for the first 32 beam records of Saskatoon:

and here's the first 32 for Hankasalmi:

So you may wish to ask the Hankasalmi PI what is going on with their scan flags (unless so

[2015-11-12 18:56] cmeeren commented on #181
Thanks! So how can I plot scans for Hankasalmi then?

[2015-11-12 19:03] asreimer commented on #181
You'll have to collect one of each beam into a list. AFAIK, a scanData object is just a list. Han at that time is running CPID 153 though. Here's a list of the first 16 beam record's beam numbers:

So look at the pattern and extract what you want. When you say you want to plot a scan, you mean you want to plot a FOV? The fov plotting software isn't flexible enough to handle general cases like this

[2015-11-12 19:05] cmeeren commented on #181
Yes, I'm talking about plotting a FOV. Thanks, I'll try to hack something together myself then. :)

[2015-11-12 19:14] asreimer opened #182 "Feature request: Pattern based scan contruction"
Sometimes SuperDARN radars are run in a patterned type scan mode as can be seen with the Hankasalmi radar on `datetime(2013, 11, 3, 19, 0)` (cpid:153, see https://github.com/vtsuperdarn/davitpy/issues/181).

Since it is still desireable to be able to plot FOV plots of these radar modes, perhaps one could make a `readScanPattern()` function that would take a pattern and return a scanData object for

[2015-11-12 19:23] ksterne commented on #181
The scan flag being -1 is used by several other radars than just han.  That I know of here is sye, sys, unw, zho.  I wonder if other Leicester radars do the same.... We may want to actually take a look at this.

[2015-11-12 19:33] asreimer commented on #181
In @cmeeren's case, the problem isn't that the scan flag is -1, it's that the scan pattern isn't the standard 16 beams in sequence.

Looking at the radDataTypes.py file (specifically [here](https://github.com/vtsuperdarn/davitpy/blob/develop/davitpy/pydarn/sdio/radDataTypes.py#L510-L550)), radars with the standard scan pattern but with -1 for the scan flag instead of 1 will not return a valid scan

[2015-11-12 19:33] #181 closed

[2015-11-12 19:38] asreimer opened #183 "Handle scan flag = -1"
As @ksterne mentioned [here](https://github.com/vtsuperdarn/davitpy/issues/181#issuecomment-156207825):

With the current implementation of the `readScan` function in radDataTypes.py file (specifically [here](https://github.com/vtsuperdarn/davitpy/blob/develop/davitpy/pydarn/sdio/radDataTypes.py#L510-L550)), radars with the standard scan pattern but with -1 for the scan flag instead of 1 will not

[2015-11-12 19:39] asreimer commented on #181
I made a new issue https://github.com/vtsuperdarn/davitpy/issues/183 to discuss the -1 scan flag problem.

[2015-11-12 20:48] ksterne opened #184 "Installing master branch (0.4) from previous version, package issue"
So, I was transitioning our main davitpy code for the VT lab and I ran into an issue where upon running the `sudo python setup.py install` , I got the following error:

error: package directory 'gme' does not exist

as it was looking for a ~/davitpy/gme/ directory instead of ~/davitpy/davitpy/gme/.  It seems as though somewhere something got locked so that it wasn't transitioning to the new file s

[2015-11-12 21:44] asreimer commented on #184
Interesting. I think it is __very__ weird that suddenly now there are problems with installing davitpy even though nothing has changed in how the sources files are being added (since the last master+setup release). The weirdness factor is increased when you consider that none of us ever ran in to any install issues like this (that were reported at least) while developing this code in the develop b

[2015-11-12 22:19] ksterne commented on #184
So, a little bit of back story for completeness and to answer your questions.

I agree this is pretty weird since the setup.py has been out for a while, but this is the first I'm doing it on this computer as this is our "always works" code set so I usually keep it on the master.  Though I have switched over the develop from time to time, but didn't notice a problem.  I ran into this when transitio

[2015-11-12 22:35] aburrell commented on #182
That would be nice.  One thing I’ve been doing to get around this is to run update_backscatter for a particular cpid, which usually separates the patterned scans from the normal scans.  However, it would be beneficial to have the scan function be smart enough to distinguish this on its own.

[2015-11-12 23:31] asreimer commented on #184
Yup, this is a bug. A bit obscure and only caused by one specific usage case: installing davitpy from the repo files after they have been cloned to the root directory of a linux machine. A trick-sy one! :)

First of all the error you get when you create that gme directory is one that you caused yourself by creating that gme directory. It happens because the code that makes the sources list is chec

[2015-11-13 07:24] cmeeren commented on #184
Potentially relevant: [this post](http://blog.ionelmc.ro/2014/05/25/python-packaging/) and [this post](http://blog.ionelmc.ro/2014/06/25/python-packaging-pitfalls/) and references therein.

[2015-11-13 07:55] cmeeren commented on #182
@aburrell, what's `update_backscatter`? I can't find it in the code.

[2015-11-13 09:11] cmeeren commented on #182
I don't have time to make a proper function, but here is an ugly hack of `radDataPtr.readScan()` which takes every other beam starting with he first beam in the scan. I also included the `abs()` suggestion from #183 because I need it. The only new stuff apart from `abs` are  the lines using `i`. Works for both pyk and han for `datetime(2013, 11, 3, 19, 0)`.

[code]

[2015-11-13 13:35] MuhammadVT commented on #184
Hey Ashton,

using *find_packages() * seems to be the one that prevents other edge-cases
to show up. If the second option is used, then shouldn't it be
*root.replace(pwd,'',1).strip('/').split('/')*  as there is no *max*
argument in *replace* function?

Thanks.

On Thu, Nov 12, 2015 at 6:31 PM, Ashton Reimer <notifications@github.com>
wrote:

[2015-11-16 21:30] asreimer commented on #184
@MuhammadVT,

You are correct, replace(pwd,'',1) is the correct syntax.

[2015-11-16 23:16] MuhammadVT opened #186 "CPID overlapping in RTI plot"
As seen in the attached figure, the CPIDs are interlining with each other. As discussed with @asreimer in #185, CPID seems to be being plotted at every minute.

Here are the commands that reproduce the bug:

from davitpy.pydarn.plotting import rti
import datetime as dt
stime = dt.datetime(2010, 1, 15)
etime = dt.datetime(2010, 1, 16)
params = ['velocity']
coords = 'gate'; scales=[[-120,120]]
rad =

[2015-11-21 07:09] asreimer opened #188 "`spacepy` dependence in `timeUtils.py`"
While refactoring timeUtils code (#187), I noticed that the `julToDatetime` method depends on `spacepy`, yet none of the dependency scripts include installing `spacepy`. At the very least we need to add `spacepy` installation in the dependency scripts. But, I would recommend that we don't do this.

Currently, only 1 method in davitpy requires `spacepy`. What I propose is that we replace the `space

[2015-11-21 07:25] asreimer commented on #186
The source of this problem (which seems rather obvious now) is that the cpid in the data file is switching back and forth from 153 to -26401. To see this, run the following code:

    from davitpy import pydarn
    import datetime as dt
    stime = dt.datetime(2010, 1, 15)
    etime = dt.datetime(2010, 1, 16)
    rad = 'bks'
    bmnum = 7
    myPtr = pydarn.sdio.radDataOpen(stime,rad,eTime=etime,b

[2015-11-21 10:14] asreimer commented on #35
He @donalmur,

I just finished creating a unit test for NRLMSISE-00 in davitpy, based off of the test code included in the [MSIS source code](ftp://hanna.ccmc.gsfc.nasa.gov/pub/modelweb/atmospheric/msis/nrlmsise00/). MSIS as is found in davitpy's current master and develop branches.

So unless there is a bug in the MSIS code itself (which the author, Picone, will have to fix), I have no idea why y

[2015-11-21 10:17] #146 closed

[2015-11-21 10:18] #138 closed

[2015-11-21 10:20] #145 closed

[2015-11-21 10:22] asreimer commented on #180
@cmeeren did you resolve your MPI problem?

[2015-11-21 12:20] aburrell commented on #188
I agree.  It’s generally bad form to require loads of dependencies in a package.  Also, spacepy can be very difficult to install.

[2015-11-21 13:30] cmeeren commented on #180
Nope. But the parts I need are working. :)

[2015-11-21 13:40] donalmur commented on #35
Hi

Ah I found the reason. Turns out that they fix the Texo for altitudes below 100 km (if i remember correctly) . I have suggested that while they may have to do that to generate the results below 100 km that they at least report the correct value.  If one wants to know the correct value then you have to select a height above the cutoff

Regards and thanks for your attention

Donal

-------------

[2015-11-21 15:11] #35 closed

[2015-12-02 10:48] cmeeren commented on #188
Absolutely agree on this. There is a balance between reinventing the wheel and not having too many or too heavy dependencies, but in this case I think we should definitely write our own code.

[2015-12-03 20:00] asreimer commented on #184
This is fixed by #190.

[2015-12-03 20:00] #184 closed

[2015-12-03 21:32] MuhammadVT commented on #186
Hey @asreimer ,

Though specifying the cpid does fix the problem, it may not be an easy option to take for an outside user who is not quite familiar with cpid. The attached is the rti plot obtained from Superdarn website.  As you can see, it simply listed the two alternating cipds one time during the fast switching period. What do you think if we do the similar thing to this pull request?

![rti_1

[2015-12-03 21:55] asreimer opened #191 "Memory leak in dmap library"
![v5qo0](https://cloud.githubusercontent.com/assets/4604819/11575369/36a9622a-99d6-11e5-9903-33db13c2b5ca.jpg)

Welp, there is a memory leak in the dmap library fo sho. The python wrappers are leaking memory like there's no tomorrow and it's awful when you try to process large sets of data (ie, more than a couple files at a time).

Every time a call is made to any of the functions in the dmapio.c

[2015-12-03 22:22] asreimer commented on #186
That looks like it could work. I would be in favour of doing something like that. The only thing I would be worried about with it is how we detect that things are oscillating quickly back and forth between the different CPIDs. I'm in favour of a general method that "just works" for any CPID situation.

Really, this is only a problem for this plot because one is plotting an entire day work of data.

[2015-12-04 09:41] aburrell commented on #191
This has been a pain in my bum for ages.  And yet I haven’t fixed it yet… ideally I’m happy to help fix it...

[2015-12-04 09:46] aburrell commented on #186
What if, in cases where there are multiple CPIDs we add a text warning to the plot (either in the CPID area, since that’s empty now or at the top)?  Then people can see what modes are running and make a new plot using the data they want, if they can’t distinguish the modes in whatever plot they made.  I really don’t think it’s a good idea to have the program self select.  As Ashton says, it will s

[2015-12-16 01:48] MuhammadVT commented on #186
Hey @asreimer,

Are you still working on this issue? If not, then we may keep this issue open and merge #185 for the time being.

[2015-12-16 06:49] asreimer commented on #186
Hey @MuhammadVT,

I'm not working on this issue in #185. We should fix this issue though!

[2015-12-17 16:20] ksterne opened #193 "Terminator plotting"
Testing out the #185 pull requestion I was wondering if I had broken something at the end of the code in the daylight terminator plotting.  Seems as though something has fallen out of place or is wrong with it.  This is the code I used:

from davitpy.pydarn.plotting import plot_rti
from datetime import datetime,timedelta

import matplotlib.pyplot as plt

f = plt.figure()

stime = datetime(2014,7,1

[2015-12-17 16:28] asreimer commented on #193
Oh dear. Should be a simple fix though, something like setting the alpha and also setting the zorder (opacity and push the terminator to the background).

[2015-12-17 16:40] ksterne commented on #191
Hey @asreimer,

Good to hear that someone else is starting to feel the pain as well.  I've been running code similar to what I wrote in #119 (and I feel like somewhere else, but I can't find it easily) and I can not get through a month of data for several radars, but it stops being able to read in files after some many radars (the loop goes through all of the radars in the network).  I agree that

[2015-12-17 17:03] asreimer commented on #191
I've heard that the people at UAF have a python version of the dmap library. I've emailed Jeff about it but haven't heard a reply yet. @ksterne do you have contact info for UAF's Engineer? If I get the chance I'm going to ask Bristow about it here at AGU.

[2015-12-17 19:50] mikeruo commented on #191
There's a new 'Jef' at UAF, maybe Bill can help (cc'ed here).

Mike

On Thu, Dec 17, 2015 at 12:03 PM, Ashton Reimer <notifications@github.com>
wrote:

[2015-12-17 19:50] asreimer commented on #193
Looking at this I redact my "should be a simple fix" comment. If you try to plot the terminator for the whole day, bad things happen to your computer.

[2015-12-17 20:01] ksterne commented on #193
I found that kind of "bad things happen" as well.  I did seem something from about setting a mask to nan or something along those lines.

[2015-12-17 20:03] asreimer commented on #193
Found it! It was all my fault (again). Here's the [relevant chunks of code](https://github.com/vtsuperdarn/davitpy/blob/develop/davitpy/pydarn/plotting/rti.py#L1106-L1109).

Notice how that chunk of code gets called on EVERY iteration of the for loop? That's not supposed to happen. I messed up the indentation there. It should be unindented once.

[2015-12-17 20:03] asreimer commented on #193
I'll fix this in a new pull request...

[2015-12-17 20:23] asreimer commented on #193
Pull request that fixes this issue here: https://github.com/vtsuperdarn/davitpy/pull/194

[2015-12-17 21:15] ajribeiro commented on #191
There had been a memory leak when I first wrote this, but I thought I had
fixed it.  It looks like it was refactored, but the issue is likely that
Py_CLEAR isn't being called every time it should be.  Should be fairly
straightforward to track down and fix

On Thu, Dec 17, 2015 at 11:50 AM Mike Ruohoniemi <notifications@github.com>
wrote:

[2015-12-18 01:21] asreimer commented on #191
Jef touched the dmap stuff after you wrote it. Maybe he introduced this problem. I'll have a look at the before and after. That Py_CLEAR advice gives me a starting point, thanks!

[2015-12-18 01:43] asreimer commented on #183
Fixed by #189, although the question still remains, why does our data have these non-standard scan flags?

[2015-12-18 01:43] #183 closed

[2015-12-18 01:43] asreimer commented on #182
Patterned scanned parsing has been implemented by #189

[2015-12-18 01:43] #182 closed

[2015-12-18 07:00] asreimer commented on #191
Doesn't seem like there is any difference between @ajribeiro's version and what we currently have right now (except for the offsetSet and offsetTell functions that I previously mentioned).

Not sure what is causing the memory leak in `read_dmap_rec`....

[2015-12-18 20:08] Shirling-VT opened #195 "Add an upgrade pip command in debian_dependencies.sh?"
Hi, everyone,

I was trying to installing the develop branch of davitpy yesterday and found that I could not use the notebook after I finished the installation.

The error information shows like this:
ImportError: No module named functools32

    Jupyter notebook format depends on the jsonschema package:

        https://pypi.python.org/pypi/jsonschema

    Please install it first.

It seems that

[2015-12-21 17:00] asreimer opened #196 "Doubling up of Terminator in RTI plots?"
If I run the following code:

[code]

I get this plot:
![figure_1](https://cloud.githubusercontent.com/assets/4604819/11936220/ffa357a4-a7d1-11e5-8bba-a73abcfd2931.png)

Notice that at the CPID boundary, something happens to the terminator. It looks twice as dark, leading me to believe it is being plotted twice here. Not sure if this is actually the case and/or this is a bug.

[2016-01-11 20:55] ksterne opened #201 "mapOverlay failing unit test"
Working on the #198 0.5-release pull request, finding the `mapOverlay.py` unit test or running `python mapOverlay.py` fails with an error of:

Not in the scope of the release, but should be fixed whenever we return to updating develop branch.

[2016-01-27 09:25] loisks317 opened #204 "sqlInit() Error unable to open database file: /tmp/sd/.radars.sqlite"
When I run the ray tracing notebook, I get this error message:

sqlInit() Error unable to open database file: /tmp/sd/.radars.sqlite

I tried the #81 bug fix and I'm just not getting anywhere. I have the latest version of davitpy because I just downloaded it last week. When I looked at the __init__.py scripts in the pydarn/radar folder they are modified like the bug fix solution suggested.

Any id

[2016-01-28 13:46] loisks317 commented on #204
So I've more headway on this. What I get is:
[code]

I think this might be a problem with finding the radar data. Any suggestions? I tried using my VPN, etc. but I'm not having any luck.

[2016-01-29 17:15] ksterne opened #205 "Duplicate daynight_terminator routines"
See there is the exact same code in `musicPlot.py` AND `rti.py`.  Is it possible that we can slim this code down and have the musicPlot code use the function in `rti.py`? I think we should eliminate this kind of duplication as much as possible.

[2016-02-01 15:41] aburrell opened #208 "dbUtils undefined dictionary"
In dbUtils.readFromDb, there is a call to a dictionary I can't find being defined anywhere. It's 'refArr' on line 291. There are a few other things in this routine that need more than formatting fixing as well (eg unused variables, missing optional input parameters).

[2016-02-01 15:57] ksterne commented on #204
Hello @loisks317,

This problem seems to keep coming up, or people have had problems with it in various ways.  I'm not as familiar with how things run for Mac, maybe @w2naf can speak more to this than I can.  If you are using the default configuration of setting DAVIT_TMPDIR to /tmp/sd/ in the davitpyrc file, then that is where the .radars.sqlite file should be located.  This file can be somewhat

[2016-02-01 22:54] ksterne opened #209 "RBSP JHUAPL URL out of date"
Need more for that alphabet soup?  Ha!

Anyways, I was looking around at some of our code supporting the Van Allen probes mission and realized that the URL listed on line 328 of `davitpy/gme/sat/rbsp.py` is way out of date.  I can probably easily update this for version 0.6.  It may take a bit more than just updating the URL, but I've got something external to davitpy that's pulling Van Allen prob

[2016-02-03 08:55] loisks317 commented on #204
so the DAVIT_TMPDIR is set to be /tmp/sd in the davitpyrc file

You're right, the .radars.sqlite file only had read permissions! I changed that, but I am still having the same problems :(

[2016-02-03 12:59] loisks317 commented on #204
Also, when I open the .radars.sqlite file, there's nothing there. I'm not sure where in rt.py the file writes the radar information here. Why can't it read from a data file or webscrape?

[2016-02-03 13:52] MuhammadVT commented on #204
Hi Lois,

I have reinstalled the develop branch of davitpy in our VT GitHub page, and
ran the raytracing code with no error message you have encountered. Just to
make sure it runs on a clean system, I have installed davitpy on a virtual
machine with a clean ubuntu14.04. Again, it is running well. So, as Kevin
has suggested, it looks like the problem is something local in your
machine. I would reco

[2016-02-03 14:06] aburrell commented on #204
Hi Lois,

If your .radars.sqlite file is empty, then the rest of the routines (more than just rt.py) won’t be able to access any of the necessary hardware information.  I checked on mine and it has rw permissions for root and reading permissions for everyone else.  The file size is 24K and it’s a binary file.  So if yours is empty, that’s a big problem.

To create this file without doing anything

[2016-02-03 14:54] asreimer commented on #204
Hi @loisks317,

Sounds to me like you still have a permissions problem as pointed out by @ksterne

What are the permissions on the /tmp/sd/ directory? If they aren't set so anyone (not just root) can write to /tmp/sd/ then davitpy won't work. Once you have changed the permission, remove the blank .radars.sqlite and fire up davitpy again.

Alternatively, you can create a tmp directory in your home

[2016-02-04 11:12] aburrell opened #211 "unnecessary classes"
I've come across several unnecessary classes that should be removed (ie scanData, which is a list of beams without any associated functions or additional attributes).

[2016-02-04 14:38] asreimer commented on #211
You mean in the sdio stuff?

[2016-02-04 14:46] aburrell commented on #211
Yes, though I’m not saying that there aren’t unnecessary classes elsewhere.

[2016-02-04 20:38] loisks317 commented on #204
Hi all,

Thank you so much for working on this! So I was able to update the radars Angeline which gave me a .radars.sqlite file of ~24 k.

However, I now have another error message and I get syntax errors when I put

davitpy.rcParams['DAVIT_TMPDIR’]
davitpy.rcParams['SDBREADUSER']
davitpy.rcParams['SDBREADPASS’]
davitpy.rcParams['SDDB’]

into ipython. The other thing is that I did try changing the

[2016-02-04 21:03] loisks317 commented on #204
GREAT NEWS!

If I use ubuntu in the virtual box, I update the radars, I use 'sudo jupyter notebook', I and use chrome as my browser (all of these are necessary steps!), it works! ! ! ! ! !

Thank you everyone!!! Not the cleanest fix on my end, but I do have it working on my computer with ubuntu now :D

[2016-02-04 21:03] #204 closed

[2016-02-05 14:12] MuhammadVT commented on #204
Hi Lois,

It is great! Thank you for letting us know that it finally worked for you.
The problem you have encountered was really a weird one. Please let us know
if you have any other problem in the future.

Best Regards,

SuperDARN Team

On Thu, Feb 4, 2016 at 4:06 PM, loisks317 <notifications@github.com> wrote:

[2016-02-08 18:22] aburrell opened #213 "fitexFilter routine hardwired to run a single radar and time"
The fitFilter routine in fitexfilter is hardwired to run Blackstone data on a single day.  Here is the fix:

`
def fitFilter(stime, rad, outfile, thresh=0.4, infile=None, etime=None,
              channel=None, bmnum=None, cpid=None, src=None, nocache=False,
              local_dirfmt=None, local_fnamefmt=None, local_dict=None,
              remote_dirfmt=None, remote_fnamefmt=None, remote_dict=No

[2016-02-10 16:58] aburrell opened #214 "sdDataTypes not using rcParams"
As it says, sdDataTypes is hard-wired for certain options, such as tmpDir on line 151.

[2016-02-10 17:47] scivision opened #215 "Fix almost all of your install issues/complaints by using platform-independent Miniconda + Virtualenv for single-script install+compile"
I think a great many of your cross-platform and intra-platform install issues would be solved by NOT messing around with system Python, which can break peoples' systems overall.

Just use [Miniconda Python](http://conda.pydata.org/miniconda.html) and within that, setup a virtualenv for davitpy, so that you don't hose the users' entire operating system if a mistake is made in the install.

Then you

[2016-02-10 17:53] scivision commented on #215
Any Python program, all prereqs, all compilation of other languages supporting the Python code should be from a single platform-independent setup.py, and I am familiar with how to do so.

[2016-02-10 18:51] asreimer commented on #215
Very interesting. I'm curious about it's compatibility with ipython? We have many ipython notebooks being used by people for examples of how to use davitpy but also for every day processing of data. Another question is how does this mesh with compiling the models that we have wrappers for, which are written in Fortran and C?

We're currently working on a big modification of our codebase (changing

[2016-02-11 11:06] aburrell opened #216 "SuperDARN (not davitpy) processing tools"
In the interest of making more of our analysis code for SuperDARN accessable to the entire community, I wonder if there's a place for us to add c-code post-fitacf level analysis routines?

[2016-02-15 15:16] aburrell opened #217 "sdDataTypes validate_fetched"
Routine uses append, instead of updating array values, which is slower than it needs to be.

[2016-02-15 17:17] aburrell opened #218 "Improvements to file fetching"
1) Add option to remove .bz2 files after concatonation
2) Add loop to allow 3 attempts at a password, if it is entered interactively

[2016-02-19 17:06] aburrell opened #220 "Unnecessary routines"
We have several routines that are simply calls to other routines.  For example, in pydarn.sdio.sdDataRead sdDataOpen calls sdDataPtr without altering any of the input parameters.  All of the input parameters are used.  We should get rid of the redundant routines.

[2016-02-19 17:09] aburrell commented on #220
Ug.  Ok, I suppose one is a class and one is a routine, so it's fine.

[2016-02-19 17:09] #220 closed

[2016-02-19 17:11] aburrell opened #221 "Improving classes"
We can make our data classes more pythonic by moving the opening and reading routines to be part of the class.

[2016-02-19 17:56] asreimer commented on #220
This might be worth looking into. We only have things set up that way when things were switched over in #47 for backwards compatibility. Might be worth removing that stuff now.

[2016-03-07 14:04] arnaud85 opened #224 "OperationalError: no such table: rad"
Hi everyone,

I've installed the Fedora version of DaViTPy with the fedora's install script but when I want to test a simple code to display radar's features I have some troubles.

I my Ipython notebook, I write this few lines :

%pylab inline
from davitpy.pydarn.radar import *

radars = network()
print radars

And there is an error : "OperationalError: no such table: rad"

What's the problem ? Is

[2016-03-07 17:16] tomharrison920 opened #225 "T"

[2016-03-07 17:17] #225 closed

[2016-03-07 17:20] tomharrison920 opened #226 "Can't find module tsygFort after following installation instructions"
I am trying to run the tsyganenko model, and followed the davitoy installation instructions as written. I run Linux mint, so ran the installation over debian_dependencies.sh, but when I try to run the tsyganenko model, the tsygFort module can't be found. I was wondering if this has been a problem in the past and, if so, what you could suggest to solve this problem?

Cheers,

Tom

[2016-03-09 05:21] asreimer commented on #224
Hi @arnaud85,

Which branch are you using, master?

I'm running Fedora 23 and I've tried your code snippet on both the master and develop branches without any trouble.

Can you check your /tmp directory for a `sd` directory? If `/tmp/sd/` exists, search for a `.radars.sqlite` file.

[2016-03-09 05:23] asreimer commented on #226
Hi @tomharrison920,

Could you provide us with a sample of the code you are trying to execute? Much easier to diagnose if we can reproduce the error.

Also, did you follow through the remainder of the installation steps after executing `debian_dependencies.sh`?

[2016-03-09 07:34] asreimer opened #227 "mapObj.ax bug"
As I've noted [here](https://github.com/vtsuperdarn/davitpy/commit/aa09858590666d30f78ee0586eb3d1a7f2983dfe#commitcomment-16581971), I think there is a bug in the mapObj `__init__` method.

Running this code, we expect `myMap.ax` to be None:

    myMap = utils.mapObj(boundinglat=30, coords='mag')
    print type(myMap)

But running this code, we expect myMap.ax to be a `matplotlib.axes` object:

[2016-03-09 13:26] arnaud85 commented on #224
Hi @asreimer,

Thank you very much for your answer.

The trouble is that I have no file ".radars.sqlite" file in my /tmp/sd/ directory. This is why the system tell me this kind of things ...

But why ? Why do I have no radar database file in this directory ?

Thank you very much again.

Arnaud

[2016-03-09 17:05] asreimer commented on #224
I'm not sure why you don't have a .radars.sqlite file. If you don't, davitpy should complain when you do a `from davitpy.pydarn.radar import *`.

You must be getting an error message somewhere that you haven't included here. Also, the `.radars.sqlite` file is a hidden file so you need to look for it using `ls -a /tmp/sd/`.

[2016-03-11 09:57] arnaud85 commented on #224
OMG I was sure that there was no ".radars.sqlite" file in my "/tmp/sd/" directory ... But it is ! I looked for it  too fast and I was wrong ! ...

This exists but it is empty. Rights on it are "-rw-r--r--." . Do you think it is not good ?

Thank you so much for your answers and your super fast reactivity.

Arnaud

[2016-03-11 19:39] asreimer commented on #224
Excellent! Since the file is there and the error you are having seems to be related to a problem with the tables in the file, I suggest you delete the `.radars.sqlite` file because I think it might be corrupted. That way, the next time you fire up davitpy, a new `.radars.sqlite` file will download and everything should be working after that.

[2016-03-14 06:10] asreimer commented on #45
Our software engineer here in Saskatchewan has a working python version of the dmap library.

I'll see if I can use it here. If so, we have a python version of dmap.

[2016-03-14 06:14] asreimer commented on #218
For 1) does this already happen for .gz files? If not, it should also extend to .gz files.

This has to be done carefully. The file validation code in radDataOpen and sdDataOpen was designed to specifically avoid making file fetching and file reading dependent on one another.

[2016-03-14 06:15] asreimer commented on #213
Does anyone actually use this? Do we need it?

[2016-03-14 06:16] #193 closed

[2016-03-14 06:17] #180 closed

[2016-03-14 10:17] arnaud85 commented on #224
I have the .radars.sqlite file. I tried to remove it and launch a script containing these few lines of code :

from davitpy.pydarn.radar import *
radars = network()
print(radars)

The file seems to be re-created each time I do the operation delete-launching code but it still empty every time ... Is it a problem of rights on it ? Rights for this file is : -rw-r--r--

Thank you for your answers, aga

[2016-03-14 20:31] asreimer commented on #224
The .radars.sqlite file shouldn't be empty. The file I have is 24K and has the same permissions as you have.

We just updated DaViTpy today. Could you try reinstalling it? In the new version of davitpy, we've added a `verbosity` key to the `davitpyrc` file in `davitpy/davitpy`. After you have reinstalled davitpy from the current master or develop branch, could you run the following code and give m

[2016-03-14 21:19] ksterne commented on #213
A few people here in our lab use it and have asked about it.  @aburrell, would you like to do the honors of getting this pull request into the new develop?

[2016-03-14 21:24] asreimer commented on #213
Sounds good. Just making sure it's actually worth keeping :)

[2016-03-15 10:46] arnaud85 commented on #224
I tried to re-install DaViTPy with the new version got from this GitHub (Master Branch) on my Fedora os and I have still the same problem : the .radars.sqlite file is empty and the output of the code you suggest me is :

Traceback (most recent call last):
  File "test.py", line 4, in <module>
    radars = network()
  File "/usr/lib64/python2.7/site-packages/davitpy-0.5-py2.7-linux-x86_64.egg/davit

[2016-03-15 14:48] asreimer commented on #224
In the error message you posted:
"pymongo.errors.ServerSelectionTimeoutError: sd-work9.ece.vt.edu:27017: [Errno 111] Connection refused"

There's the problem right there I think. You can ping the database server, but it won't let you connect to download the file, hence the file being empty.

Have you changed anything in `davitpyrc`?

@ksterne, can you look at why sd-work9 might not be accepting @a

[2016-03-15 15:10] arnaud85 commented on #224
Ok. But can I have to subscribe to a list or anything else to have access to this file or is it totally free ? Because I found your contribution surfing on the internet and looking at some tools that could be well for me; I work as a IT engineer/data scientist at the French Institute for Scientific Research and now I'm interesting on computing feet of magnetic field lines starting from satellites

[2016-03-15 15:29] asreimer commented on #224
There is not list or anything that you need to subscribe to. For some reason Virginia Tech's hardware.dat server isn't accepting your connection (I'm not at Virginia Tech, so I don't have access to the computers there).

You didn't modify the davitpyrc file did you?

DaViTpy is able to calculate a FOV of a SuperDARN radar, either from hardware.dat information or from custom parameters (see the cod

[2016-03-15 15:40] arnaud85 commented on #224
No, no, I didn' modify this file. I give you the content of it (sorry for the big sample):

# This run control sets global parameters for DaViTPy.  If you need to modify
# it, please re-run the 'setup.py install' script in order to copy the
# modified file to the appropriate system location.
#
####
# VERBOSITY
# Valid levels are silent, helpful, debug, and debug-annoying. These
# correspond to the

[2016-03-15 16:09] ksterne commented on #224
Hey @arnaud85,

What IP address are you trying to access from? I can see if it's been blocked for some odd reason.

[2016-03-15 16:19] arnaud85 commented on #224
Do you see this IP when I try to connect at the server : 194.199.146.250 ?
I think it is the proxy address of our lab ... Can it does some trouble to be hidden before a proxy ?

[2016-03-15 17:05] ksterne commented on #224
I'm not seeing that IP address blacklisted on the sd-work9 computer.  I have added it so that it should allow a connection though.  Can you try it again?

[2016-03-15 17:33] arnaud85 commented on #224
I have tried to re-install quicly the soft and my .radars.sqlite file is always empty ... I will try more stuff later. Thanks for your help.

[2016-03-15 17:44] asreimer commented on #224
Ah that's annoying! It sounds like a networking issue.

You could try running davitpy on a home computer and that would tell you if it is network specific. Might be that the network you are on is blocking port 27017?

Sorry we can't be of more help.

[2016-03-15 18:33] ksterne commented on #224
That is quite strange!  Maybe onto @asreimer's point, are you familiar with Netcat?  I'm not as familiar with Fedora, but on Ubuntu I might run something like:

`nc -vz sd-work9.ece.vt.edu 27017`

and from a computer at Virginia Tech I get:

`Connection to sd-work9.ece.vt.edu 27017 port [tcp/*] succeeded!`

Are you able to get something similar?  This should tell you whether or not you're able to

[2016-03-15 18:35] asreimer commented on #224
I always forget about netcat.

On Fedora the command `nc -v sd-work9.ece.vt.edu 27017` works for me.

[2016-03-16 10:18] arnaud85 commented on #224
I've just tried this command on my Fedora : nc -v sd-work9.ece.vt.edu 27017

and the answer is :

Ncat: Version 6.45 ( http://nmap.org/ncat )
Ncat: Connection refused.

Do you think my proxy can make unavailable the socket between me and your server ?

I will try to install the DaViTPy toolkit in my personal computer (Mac OS X) soon and I will see if I have the same problem ...

[2016-03-16 13:33] ksterne commented on #224
Ok @arnaud85, it seems as though we've confirmed that from your computer, you are unable to see port 27017 on sd-work9.ece.vt.edu.  Since I haven't heard of this before, you might check with the internet provider or your proxy to see if it is blocking that port.

[2016-03-16 14:35] arnaud85 commented on #224
It works !!

Yes, a firewall blocked this port 27017 ... It is now open.

I tested the simple code and it works :

import davitpy
from davitpy.pydarn.radar import *
davitpy.rcParams['verbosity'] = 'debug-annoying'
radars = network()
print(radars)

So, is it possible to look at the code which help to know if a point of coords lat,lon is inside the field of view of a SuperDarn radar ? It can help me

[2016-03-16 16:15] aburrell commented on #218
It should extend to any concatenated file.  It's pretty easy to do (I've done it before but it's always been lost due to merge issues).  I'll get back to this as soon as I have a chance to update everything to the new version.

[2016-03-16 16:17] aburrell commented on #213
Sure, I'll put this on my schedule for next week.

[2016-03-17 17:08] asreimer commented on #191
Alright, so C is dead (long live C). Keith, our SuperDARN software engineer here in Saskatoon, built a purely python version of dmap that is basically as fast as the C wrapped version. I'll do some testing to see how comparable.

So ya, soon, no more RST dependence for davitpy! :-D

[2016-03-17 17:58] asreimer commented on #191
Couldn't help it. Had to test the timing between the two. Keith's code is faster, even though it's written in pure python! Well it uses numpy which has C wrapped stuff...

Here are the results:
Current C wrapped dmap library (time to read an entire rawacf file into a record dictionaries):
2.2705s

@kkotyk's python based dmap library (time to read an entire rawacf file into a record dictionaries):

[2016-03-17 19:04] asreimer commented on #224
Hi @arnaud85,

I'll be emailing you the code that I have that finds the beam and gate number that a lat,lon pair corresponds to.

Cheers,
Ashton

[2016-03-21 10:02] tomharrison920 commented on #226
To the best of my understanding, yes I did follow the remainder of the installation instructions.

The code I tried to execute was simply:

'from tsyganenko import tsygTrace as T96'

I have since completely removed the davitpy module and tried the whole download again, however, I can now not even find the tysganenko module. I'm afraid I'm not the most experienced python or linux user, so I may be

[2016-03-21 15:22] arnaud85 commented on #224
Thank you very much for the code, this will help me a lot !

Now I can play with your great toolkit !

Thank you for your help again.

Cheers,

Arnaud

[2016-03-21 15:26] #224 closed

[2016-03-21 21:29] ksterne commented on #191
@asreimer, @kkotyk,

I'll gladly help test out this new version and see if it still gives me problems with my code that I'm running!

[2016-03-21 21:39] asreimer commented on #226
You problem might be that you aren't importing it correctly.

Since `tsyganenko` is part of the `models` module and `models` is in `davitpy`, you need to:

`from davitpy.models.tsyganenko import tsygTrace as T96`

[2016-03-25 17:26] ksterne commented on #213
Hey @aburrell, any movement on this?

[2016-03-25 21:44] aburrell commented on #213
Sorry, I’m not going to be able to get to any davitpy things for about a month.  Feel free to take over.

[2016-03-29 20:55] loisks317 opened #231 "Question on converting rawacf files to a usable format"
Hi All,

My advisor just gave me 6 years worth of rawacf fiels, and I need to convert them to velocity, spectral width, and power. So I found in #124 (https://github.com/vtsuperdarn/davitpy/pull/124) on how to read in, store as a Ptr, and then plot the rawacf files. However, I ultimately need to convert them into .fit files essentially. Is there a way to do this in davitpy that I'm missing or do I

[2016-03-29 21:14] ksterne commented on #231
I don't think there is anything in davitpy.  To process rawacf data into fitacf files, you'll need to use the `make_fit` command in the RST code.  That's the SuperDARN standard way.

[2016-03-29 21:16] loisks317 commented on #231
Thanks - that's a huge help right there. I'm having trouble finding RST documentation past the install.

[2016-03-30 02:23] asreimer commented on #231
Hey @loisks317,

It's thankfully pretty simple to convert rawacf to fitacf using RSTLite! Keep in mind that it hasn't necessarily been updated to with the latest version of fitacf2.6 or whatever we're on right now. So you might want to compare the fitacf code on RSTLite with that in RST

Here's the repository for RSTLite: https://github.com/vtsuperdarn/RSTLite
Here's the repository for VTRST3.5: h

[2016-03-30 07:39] loisks317 commented on #231
Perfect! I will give this a try today - thank you so much !!

[2016-03-30 13:34] loisks317 commented on #231
So, not too much of a surprise, I am having trouble with the RSTLite install. I'm using a Mac OSX and changed the .bash_profile to have the darwin presets, etc. It seems to install everything and even gives an 'installation complete', however, I get this error when the install.sh is going through the make clean files:

ld: warning: directory not found for option '-L/Users/loisks/Downloads/RSTLite-

[2016-03-30 13:46] loisks317 commented on #231
But I just got it to work on my ubuntu virtual box... [shrugs] Thanks for the patience everyone - let me know if there are any suggestions on how to get it to work for OSX :)

[2016-03-30 21:51] ksterne commented on #231
Since this is more related to RST, I'm closing this issue.  @loisks317, I'd suggest any future comments asked on the applicable github repo to keep things more organized.  The short answer is that I don't think there is any Mac support for RST.

[2016-03-30 21:51] #231 closed

[2016-04-06 14:41] w2naf opened #233 "SuperDARN Data Plotting Notebook and Underlying Functions"
Hi, guys.

Nice job on the new release! I'm just starting to use the new code now.

I found that some of the changes break things in the SuperDARN Data Plotting Notebook (https://github.com/vtsuperdarn/davitpy/blob/35c3de481ff4a12699401b390d7d4e387592ead9/docs/notebook/SuperDARN%20Data%20Plotting.ipynb). I tried fixing some of these problems myself last night, but ran into some issues I want to ge

[2016-04-06 15:36] Shirling-VT commented on #233
Hi Nathaniel,

I agree with you about the rti plot issue. I also find it inconvenient
without the figure keyword when I tried to write a script to get more than
one rti plot and save the figures for later usage. The lack of figure
keyword prevents me from using of savefig function.

Best wishes,
Xueling

On Wed, Apr 6, 2016 at 10:41 AM, Nathaniel Frissell <
notifications@github.com> wrote:

--
Bes

[2016-04-08 20:50] ksterne commented on #213
Started taking a look at this and have a branch up and going with your fixes.  Not only did that need a fixing, but doFilter has an awesome line right after the import that clears out the required variable `scans` ....doh!

[2016-04-11 20:55] ksterne commented on #213
Ok, this is truely bizarre.  There is a loop at the beginning of doFilter in the [lines linked here](https://github.com/vtsuperdarn/davitpy/blob/bugfix-fitexFilter/davitpy/pydarn/sdio/fitexfilter.py#L322-L326).  Every time the loop runs it adds another item onto the `scans` list, so there is always another s.  I think I've replaced it with the [lines above it](https://github.com/vtsuperdarn/davitp

[2016-04-12 18:59] asreimer commented on #226
Hi @tomharrison920,

Did you get your issue resolved?

[2016-04-13 08:46] tomharrison920 commented on #226
Hi Ashton,

I didn't unfortunately, I ended up getting a colleague to build the plots I needed for me (for some reason he didn't encounter the same issues on his Mac), as I was under quite a large time constraint.

Thank you for your concern though.

Tom

________________________________
From: Ashton Reimer <notifications@github.com>
Sent: 12 April 2016 20:00
To: vtsuperdarn/davitpy
Cc: tomharriso

[2016-04-15 20:26] Shirling-VT opened #236 "Cannot install basemap properly when installing davitpy"
Hi, I'm trying to install davitpy on my new computer and meet a problem. After I finished installing it step by step as it is exactly shown in our README.md file, it cannot find the basemap module.

When I input "**from davitpy import pydarn**" in the ipython command line:
**Loaded davitpyrc file from DaViTpy installation directory. Path: /usr/local/lib/python2.7/dist-packages/davitpy-0.5-py2.7-li

[2016-04-16 00:04] w2naf commented on #236
Hi, Shirling.

Whenever I get that message, I just reinstall basemap from source:
https://sourceforge.net/projects/matplotlib/files/matplotlib-toolkits/basemap-1.0.7/

Use the *.gz file at the end, and follow the readme. Sometimes, I end up
having to install some extra dependencies along the way. I just check the
error messages and see what it wants.

Good luck!

Nathaniel

On Fri, Apr 15, 2016 at

[2016-04-16 01:34] Shirling-VT commented on #236
Thanks a lot, Nathaniel! I will definitely give that a try. Even for the
Mac version installation script "*python_install_mac_brew.sh",* I found I
have to install some of the softwares manually.

On Fri, Apr 15, 2016 at 8:04 PM, Nathaniel Frissell <
notifications@github.com> wrote:

--
Best wishes,
Xueling

[2016-04-18 20:38] ksterne commented on #209
Alright, for sure this time, this is fixed with #237.  Closing this out then.

[2016-04-18 20:38] #209 closed

[2016-04-19 17:16] heinet opened #238 "TypeError on input"
When I try to input davitpy, I get the following error.  This occurs even when I try to import the GOES notebook.

Populating the interactive namespace from numpy and matplotlib
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-1-7aca422ea469> in <module>()
      3 from matplotlib i

[2016-04-19 17:19] spacecataz commented on #238
Can confirm on pure macports install.

[2016-04-19 18:28] asreimer commented on #238
I cannot reproduce this problem on the OpenSUSE nor Fedora.

I'm guessing there is some problem with your mac installation of davitpy. Likely, something is wrong in the pydarn module judging from the error message you have included: "618 logging.exception('problem importing pydarn: ' + e)"

In a python shell, what do you get if you run:
`from davitpy import pydarn` ?

[2016-04-19 19:36] Shirling-VT commented on #238
Hi all,

I just installed davitpy in my macbook though the mac_brew dependencies,
though almost manually after failing on several packages installation. But
it seems to work well here without the issue heinet mentioned. I also
suspect something was wrong during the installation. You have to be very
carefully when doing the dependencies installation and make sure every
required packages are install

[2016-04-20 15:53] spacecataz commented on #238
Importing pydarn yields the exact same error in the exact same file.
I ran the python_install_mac_port.sh script, and it executes successfully.  However, it is installing all of these libraries into the OS X version of Python (/usr/bin/python) instead of the Macports version.  This is because the script installs PIP not via macports, but via easy_install.  Therefore, all of the libraries are insta

[2016-04-20 16:18] asreimer commented on #238
Hi @spacecataz

As you have pointed out, there is a problem with the dependency script. Since none of the current developers have Mac computers (that I'm aware of), we haven't been able to do any testing/bugfixes/improvements to the dependency install scripts for OS X.

If you could make a pull request with a working macports dependency script, it would be much appreciated. Problem is that this de

[2016-04-20 18:33] Shirling-VT commented on #238
Hi all,

Xueling here, a graduate student in the SuperDARN research group at
Virginia Tech. I'm more a user on davitpy, and of course far from a
developer. I just got a Macbook and will be glad to help with the mac
dependencies installation issue.

I tried to install davitpy through python_install_mac_port.sh script a
month ago on my friend's macbook and met exactly the same problem as spacecataz

[2016-04-21 02:54] asreimer commented on #227
Confirmed now that this bug actually breaks overlayFov. Try running this code in the current master or develop branch and you'll see what I mean:

    import matplotlib.pyplot as plt
    import datetime
    import davitpy.utils
    from davitpy.pydarn.plotting import *

    fig=plt.figure()
    SDate=datetime.datetime(2014,7,8,1,15,9)

    #the map Object
    mObj=utils.plotUtils.mapObj(datetime=S

[2016-04-21 19:09] ksterne commented on #213
I'm guessing there won't be any response from @ajribeiro....

I'm still wondering on how to move forward from here.  Without a dmap write function, this won't do very good.  @asreimer, @kkotyk, does the new python dmap include a write function?

For now, I've added try/except lines here to keep the file from crashing on its own.

[2016-04-21 19:12] ksterne commented on #191
Hey @asreimer, @kkotyk, any chance of getting the python dmap library into davitpy?  It'd be cool to see and I know there are many that would like to be able to use it.

[2016-04-21 19:17] ksterne commented on #45
@asreimer. @kkotyk, just to highlight how long and how many "issues" could be cleared out.  Seems as though this one is pending the python dmap library as well...

[2016-04-21 19:18] ksterne commented on #214
I guess without anything else happening on the other issues, I'll try to take this one on.

[2016-04-21 19:36] asreimer commented on #191
Keith is working on it right now actually. Once he has it all finished up then we can bug him about getting it merged in to davitpy.

It's pretty slick from what I've seen. I'm also looking forward to it being included.

[2016-04-21 19:39] asreimer commented on #213
The new dmap library will include a write function.

Honestly, does anyone use this? Is there any documentation anywhere about what it is supposed to do even?

If this code has a purpose and people are using it, then let's keep it for sure, but if not, I'm ok with us just removing it.

[2016-04-21 19:58] ksterne opened #240 "radDataTypes tmpdir and tmpDir"
Working on #214, I noticed an odd issue that happens at:

https://github.com/vtsuperdarn/davitpy/blob/develop/davitpy/pydarn/sdio/radDataTypes.py#L181-L186

It seems as though the input of tmpdir isn't used if it is specified as all references to the temporary directory after these lines go to tmpDir.  Python's case sensitive, right?  So, if you set tmpdir, then it won't get used at all.

Any pref

[2016-04-21 20:03] ksterne commented on #213
@asreimer, again, I think it's unwise of removing this.  I get the need to slim things down and prevent bloatware.  However, since this was a decent amount of work, I think it's unwise to completely lose it.  As well, it's the only insight to a binary file that's floating around the RST/C world.  Yes, it's true that there is no one that can speak to this, but I believe it can be useful and should

[2016-04-21 20:19] Shirling-VT opened #241 "TypeError when do mapDatObj.overlayCnvCntrs()"
Hi all,

I found an error when running the convection plotting code in our SuperDARN Data Plotting notebook. It seems that there's some type error somewhere when we try to overlay convection contours in a map plot. The following shows that error message. Anyone can confirm this and has any idea on how to fix this? It seems exist in both present master and develop branch.

---

TypeError

[2016-04-21 20:38] asreimer commented on #240
CamelCase is for naming classes and it's variant mixedCase should basically never be used. We've been slowly transitioning things from mixedCase over to namename or name_name.

So, I think you should change it all to tmpdir. No one is likely using tmpDir anyway and we can make sure to highlight this change in the release notes.

Alternatively, if you think this might break some peoples code, you c

[2016-04-22 15:55] ksterne commented on #240
I read up some more on CamelCase and mixedCase after this, but thank you for the confirmation that thats how we'll approach things.  I've got a pull request going.  Since it was all internal to the code, I don't think I need a depreciation warning.

[2016-04-22 15:55] #240 closed

[2016-04-23 08:32] salsrag commented on #213
This comment applies to the many E-mails that I am receiving. I am concerned that this development >so running open loop. Could someone run the various C codes that are being translated and produce printouts or plots of the outputs at the various stages. The need to be E-mails to the more senior people within SuperDARN along with a request to identify the objective and importance of routine. Make

[2016-05-02 17:32] asreimer opened #244 "[Critical Bug] Broken Exception Handling"
Since we made the changes over to the logging module in the last release, there are now problems with our exception handling. Specifically, if there is an exception one gets another exception, so you don't get to see what the original exception problem (hooray!). This is what has been happening in #241 and #238, I was just too dense earlier to realize it.

"TypeError: coercing to Unicode: need str

[2016-05-02 17:47] asreimer commented on #244
The second error is easily fixed by converting the exception to a string. For example:

    try:
        print h
    except Exception, e:
        logging.warn('PROBLEM: ' + e)
Fails, but this

    try:
        print h
    except Exception, e:
        logging.warn('PROBLEM: ' + str(e))
Works. I'm converting all of these types of statements to include the explicit str() conversion.

[2016-05-02 18:39] asreimer commented on #236
I am confirming that this is problem on Ubuntu 14.04 now.

I just installed davitpy on a fresh installation of Ubuntu 14.04 and of course I ran the debian_dependencies.sh script but basemap isn't found:

    import mpl_toolkits.basemap as basemap
    ImportError: No module named basemap

So it's not installing correctly.

This fix (which I just tested), is append

    cd /tmp
    git clone https:/

[2016-05-02 18:40] asreimer commented on #236
Issue fixed by #245.

[2016-05-02 18:40] #236 closed

[2016-05-02 19:11] asreimer commented on #214
Fixed by #242

[2016-05-02 19:11] #214 closed

[2016-05-02 19:11] asreimer commented on #240
Fixed by #243

[2016-05-03 02:13] ksterne commented on #244
Merged it into master and created pull back to develop to resync with #247.

[2016-05-03 02:13] #244 closed

[2016-05-04 18:41] ndestefano opened #248 "Problems downloading data"
Hey all,

First off I want to say thanks for all of the work that's been done in making this tool. I'm currently using your code to pull large amounts of data for clutter studies and I've been having some timeout/connection issues.

I've been downloading chunks of data for a given year and a given radar with a script that I wrote using the functions davitpy.pydarn.sdio.radDataOpen() and davitpy.py

[2016-05-05 17:47] asreimer commented on #248
Hi @ndestefano. I'm not sure why you are having the problems you are having.

Just to clarify, when did this problem start happening for you? Did it just recently start and you were able to download data with no problems before?

If everything was working before and then suddenly stopped working, then it could be an IP issue. If it never worked for you, then perhaps it's something to do with davit

[2016-05-05 17:48] asreimer commented on #238
Fixed in #246

[2016-05-05 17:48] #238 closed

[2016-05-05 17:49] asreimer commented on #241
Unlike what I suggested in #246, I don't think this "bug" is fixed.

@Shirling-VT did you ever figure out what was happening here?

[2016-05-05 17:50] asreimer commented on #233
So what I'm getting from this is that the plot_rti function should only ever return one figure? I'm ok with that.

Anyone else care weigh in here?

[2016-05-05 17:51] #226 closed

[2016-05-05 17:53] asreimer commented on #216
@aburrell you may like to talk to our software engineer @kkotyk about this. He's currently working on getting the important bits of RST converted to python. In fact, he just finished getting dmap reading and writing working: https://github.com/SuperDARNCanada/pydmap

I'm working on getting pydmap implemented in davitpy as a replacement for the C code we currently have.

[2016-05-05 18:07] ndestefano commented on #248
Hi @asreimer , the problems seem to be intermittent, and I mostly do these tests early in the day (around 10:00AM EDT). I should also clarify that I was able to get file transfer working through davitpy initially and it _appeared_ to have no issue, although I may have had a file here or there that didn't transfer correctly.

For instance I tried to connect to the ftp server via sftp and got a simi

[2016-05-05 18:13] asreimer commented on #248
Sounds to me like a network issue. If you can (if you have davitpy on a laptop), you should try running your code on a completely different network. How many instances of this are you running at the same time? Trying to download too many files in parallel could be causing bandwidth problems. AFAIK, the data server at VT isn't necessarily designed to handle very many concurrent connections.

Maybe

[2016-05-05 18:14] asreimer commented on #201
Using #239, this bug is fixed.

[2016-05-05 18:14] #201 closed

[2016-05-05 18:18] asreimer commented on #195
This is already in the `debian_dependencies.sh` [script](https://github.com/vtsuperdarn/davitpy/blob/master/install/debian_dependencies.sh#L33) and the `suse_dependencies.sh` [script](https://github.com/vtsuperdarn/davitpy/blob/master/install/suse_dependencies.sh#L54).

What were you running when you had this problem?

[2016-05-05 18:26] ksterne commented on #248
@asreimer got to this before I could.  I do have a limit of 10 logins, so if you're doing things in parallel, you could be hitting an issue there.  If you're able to get back to things, then you're probably not on the blacklist for it.  If you still can't get in, let me know what IP address you're coming from and I can remove it off of the list.

As well, as mentioned in other posts ( #191 is the

[2016-05-05 18:34] asreimer commented on #248
There ya go @ndestefano, you might be running into that 10 login limit (since that would include 10 total logins, not 10 per use right?).

The problem described in #191 won't cause these SSH errors @ndestefano was seeing though.

[2016-05-05 18:35] asreimer commented on #191
So @kkotyk is finished with what he has called `pydmap` now. I'm currently working on a branch to replace the RST C based dmap stuff in `dmapio` with `pydmap`. This could take some time.

[2016-05-05 18:35] ndestefano commented on #248
So right now the ping to the data server is ~50ms with  1-3% packet loss over the course of one minute. I did ping google at the time I was having major connection issues and that was fine, so it wasn't on my end.

The 10 logins at once was probably the issue, since I was running anywhere between 8-32 concurrent requests. I did notice a potential bug in my own code that may not have respected this

[2016-05-05 19:19] ndestefano commented on #248
Just as a quick status, I can't connect to via sftp or using the davitpy code on my laptop with "connection reset by peer" errors (I have been able to do both previously), my ip is 129.83.31.1

On my cluster I have an sftp file transfer going and I can make other sftp connections and data transfer through davitpy, which is basically the exact opposite problem that I was having this morning. I don'

[2016-05-05 19:25] ksterne commented on #248
@ndestefano, is this the public ip address?  If so, I don't see it listed on the sd-data1 sftp server.  I'm slightly confused here since you note that you're getting "connection reset by peer" errors, but then also mention you're transferring data through davitpy.  Is this data transfer with davitpy connecting to sd-data1.ece.vt.edu?

[2016-05-05 19:50] ndestefano commented on #248
So I have two machines where I have davitpy installed. One is on my laptop (Mac OSX) and the other is on a Cluster which is running CentOs. With both in the past I've been able to establish connections either through the davitpy interface (davitpy.pydarn.sdio.radDataOpen() and davitpy.pydarn.sdio.radDataReadRec() ) or by using sftp. The ip that I gave is for my laptop, and the address that I was u

[2016-05-05 20:00] ksterne commented on #248
@ndestefano, OK that clears things up.  Sorry I wasn't following that you were using things from two different computers.  So, I'm guessing things are mostly working for you?  It sounds like there is some kind of issue with the connection there then anything on the sd-data server.

Aside from the example I mentioned about combing through data, I'm not sure anyone has used davitpy **just** to downl

[2016-05-05 20:03] asreimer commented on #248
I haven't tried to do statistical studies by downloading data from VT. We have our own data server here in ISAS.

What I recommend doing is downloading rawacf data from the distribution servers we have set up (they are designed to handle massive downloading of data) and then process that data into fitacf using RST. @ksterne, perhaps this is a good example of a reason why we should have fitacf data

[2016-05-06 00:46] ndestefano commented on #248
So I checked the connections this evening and I was able to connect with my laptop and on the cluster just fine using either sftp or the davitpy code. Was it just a traffic issue that was causing disconnects? Should I just run in the evening and this won't happen as often?

@asreimer how do I access the distribution servers?

[2016-05-07 21:06] Shirling-VT commented on #195
It has been a while ago when I tried to install davitpy in my old lab
computer. Since that old computer was dead, and the installation of pip is
working fine in my new computer, so I cannot repeat this error, it could be
something wrong with my computer. Thanks a lot for your reply, Ashton!

On Thu, May 5, 2016 at 2:18 PM, Ashton Reimer <notifications@github.com>
wrote:

--
Best wishes,
Xueling

[2016-05-07 21:09] Shirling-VT commented on #241
Sorry, Ashton, I have no idea about it.

On Thu, May 5, 2016 at 1:49 PM, Ashton Reimer <notifications@github.com>
wrote:

--
Best wishes,
Xueling

[2016-05-09 20:48] #195 closed

[2016-05-09 21:00] asreimer commented on #241
Just ran the notebook myself. This is still a problem.

[2016-05-09 21:17] asreimer commented on #248
Hey @ndestefano, sorry about the delayed response.

To access the distribution servers you need to get in contact with someone in the [Data Distribution Working Group](http://vt.superdarn.org/tiki-index.php?page=Data+Dist+Working+Group).

[2016-05-09 21:17] #248 closed

[2016-05-09 21:21] asreimer commented on #227
Fixed by #239

[2016-05-09 21:21] #227 closed

[2016-05-09 21:23] asreimer commented on #191
Fixed in #249, which replaces the RST C code with a python based dmap library written by @kkotyk.

[2016-05-09 21:26] asreimer commented on #130
The redundant file cache checking has been removed in #249. It relies solely on fetchUtils file cache checking instead.

[2016-05-09 21:29] asreimer commented on #45
This is now achieved with #249.

[2016-05-13 05:08] asreimer opened #250 "Use install_requires for python package dependencies."
Currently, we use a bunch of shell scripts in the `install` directory to install all the dependencies. If we ever want to submit davitpy to pip, we should modify the setup.py file to list the python packages that davitpy depends on (using the install_requires keyword). Also, we should also only use setuptools instead of `numpy.distutils`.

[2016-06-03 18:55] GPerry306 opened #254 "overlayFan bug?"
Hi all,

I'm trying to overlay some fan data onto an existing map.  Here's my code (I'm a newbie by the way):

import datetime
import os
import davitpy.utils
import matplotlib.pyplot as plt
from davitpy import pydarn
from davitpy.pydarn.plotting import *

sTime = datetime.datetime(2016,5,7,1,36)
eTime = datetime.datetime(2016,5,7,1,41)
radar = 'rkn'
beam  = 7
cp=None
filtered=False
src=None
fileTy

[2016-06-04 01:56] asreimer commented on #254
There are just some problems with how you are using davitpy. For example, your line:

    mObj=utils.plotUtils.mapObj(dateTime=sTime,lon_0=93.11,lat_0=72.6,showCoords='True',gridLabels='True',grid='True', height=111E340,width=111E340)

Notice the E340. That's way too big. I've changed this to 11E6 in my running of the code.

As of #239 you don't need the line `mObj.ax=ax` anymore. Also, this line:

[2016-06-04 02:05] asreimer opened #255 "overlayFan can't use beamData objects"
As reported in #254, running the code:

    import datetime
    import os
    import davitpy.utils
    import matplotlib.pyplot as plt
    from davitpy import pydarn
    from davitpy.pydarn.plotting import *

    sTime = datetime.datetime(2016,5,7,1,36)
    eTime = datetime.datetime(2016,5,7,1,41)
    radar = 'rkn'
    beam = 7
    cp=None
    filtered=False
    src=None
    fileType='fitex'
    c

[2016-06-04 02:05] asreimer commented on #254
I did find that there's an unrelated bug in `overlayFan`. The docstring says you can pass a `beamData` object to `overlayFan`, but if you try that, the code spits out the error:

    AttributeError: beamData instance has no attribute '__getitem__'

Bug report filed here: #255

[2016-06-04 02:05] #254 closed

[2016-06-06 19:51] GPerry306 opened #256 "Bug in ae.py"
Keywords 'dbName' and 'collName' in /davitpy/gme/ind/ae.py should be 'dbname' and 'collname', respectively, according to 'getDbConn' function in /davitpy/pydarn/sdio/dbUtils.py.

[2016-06-06 20:02] GPerry306 commented on #256
The GM indices notebook doesn't seem to work at all for me by the way.

[2016-06-09 22:17] MuhammadVT commented on #256
Hi @GPerry306

Thank you for pointing out the bugs. I have created a pull request #257 to fix this issue. Could you please test it out.

Thanks,

Muhammad

[2016-06-10 10:55] aburrell opened #258 "OverlayFan polygon doesn't always close"
When you specify the groundscatter option, you the polygon defining the field of view doesn't close:
![han_mlt_fan_clock](https://cloud.githubusercontent.com/assets/7045886/15962321/3a53e5dc-2f02-11e6-9ac7-0f5204dca6a6.png)

[2016-06-11 03:47] asreimer commented on #256
Problem fixed in #257 which has been merged into `develop` now.

[2016-06-11 03:47] #256 closed

[2016-06-11 03:54] asreimer commented on #258
Hey @aburrell, do you have some example code so I can try to reproduce this problem?

Does the same thing happen if you only plot 1 fov, or only if you plot 2?

[2016-06-11 04:23] asreimer commented on #255
Bugfix is now available in #259.

[2016-06-11 04:36] asreimer commented on #101
This bug still exists.

[2016-06-11 15:22] #255 closed

[2016-06-12 01:46] mrwessel commented on #102
Testing with python plotUtils.py produces the desired result for me.  Others please verify.

[2016-06-12 12:00] aburrell commented on #258
It’s happened every time I did a groundscatter fov at HAN regardless of the coordinates, number of FOVs, or direction of FOV.  I’ll get some example code up at some point.

[2016-06-12 23:34] asreimer commented on #102
This is fixed in #102.

[2016-06-12 23:34] #102 closed

[2016-06-13 18:40] aburrell commented on #258
Example code:

import datetime as dt
import davitpy
import matplotlib.pyplot as plt
plt.ion()
f = plt.figure()
ax = f.add_subplot(1,1,1)
import mpl_toolkits.basemap as basemap
rad = 'han'
stime = dt.datetime(2006, 10, 1)
hard = davitpy.pydarn.radar.site(code=rad, dt=stime)
m = basemap.Basemap(ax=ax, projection="stere", lon_0=hard.geolon, lat_0=hard.geolat, llcrnrlon=0, llcrnrlat=25, urcrnrlat=70,

[2016-06-13 19:22] asreimer commented on #258
The example code fails due the Basemap not having support for datetime objects needed for coordinate conversion.

Modifying the example code to:

    import datetime as dt
    import davitpy
    import matplotlib.pyplot as plt
    plt.ion()
    f = plt.figure()
    ax = f.add_subplot(1,1,1)
    import mpl_toolkits.basemap as basemap
    rad = 'han'
    stime = dt.datetime(2006, 10, 1)
    hard = d

[2016-06-13 19:26] aburrell commented on #258
Odd that it works for ionospheric backscatter without this support.

[2016-06-13 20:00] aburrell commented on #258
This is wierd.  date_time should only be important if “geo” is not used.

[2016-06-13 20:10] aburrell commented on #258
Ok, thing 1)  In the original example I had added:

m.dateTime=stime

Which is why I didn't get an error.  But I forgot I added that.

[2016-06-13 20:20] asreimer commented on #258
Ah ok that makes sense. Any idea why the FOV isn't closing on the GS plot?

[2016-06-13 20:20] aburrell commented on #258
Ok, I figured it out.  The fov object doesn't save the model it used to create the object, so you have to keep specifying it.

[2016-06-13 20:21] aburrell commented on #258
We should probably add a model to the fov object and have routines check for it.  If it doesn't exist, it can default to IS but spit out a warning.

[2016-06-13 20:22] aburrell commented on #258
In [79]: print fov_test
latCenter: (16, 75)
lonCenter: (16, 75)
latFull: (17, 76)
lonFull: (17, 76)
slantRCenter: (16, 75)
slantRFull: (17, 76)
beams: (16,)
gates: (75,)
coords: geo

^
model: GS

[2016-06-13 20:22] asreimer commented on #258
Awesome! And I agree with that fix. Luckily it's a simple fix too :)

[2016-06-13 20:23] aburrell commented on #258
Yes...

Unfortunately I'm heading offline since it's 21:30 and I'm still in the office sans dinner :'(

[2016-06-13 20:26] asreimer commented on #258
Yes! Go home and eat. This can wait.

[2016-06-20 23:27] brianbreitsch opened #261 "Update AACGM coefficients?"
It looks like the AACGM coefficients only go up until 2010.  Coefficients are available up to 2020.
https://engineering.dartmouth.edu/superdarn/aacgm.html

[2016-06-21 02:15] asreimer commented on #261
Thanks for reporting this!

[2016-06-21 17:50] MuhammadVT commented on #233
Hey @asreimer

Would you mind modifying plot_rti as @w2naf  and @Shirling-VT have requested? I also agree with them on this regard.

Thanks

[2016-06-21 20:31] asreimer commented on #233
Hi @MuhammadVT,

I can do this. It should be a simple fix (famous last words). Give me a day or two.

[2016-06-27 15:48] MuhammadVT commented on #233
Hey @asreimer

How are you counting your "a day or two"?

[2016-07-08 13:07] ndestefano opened #263 "ImportError when trying to make RTI plot"
Hello,

I am trying to reproduce the MUSIC notebook (https://github.com/vtsuperdarn/davitpy/blob/master/docs/notebook/MUSIC.ipynb). I can successfully load the file and see that there is fit data in there (input 4 of the notebook). However when I try to make the RTI figure (input 8) I get the following error:

[code]

When I look for the function plotFreq I do not find it in rti.py. In fact, I sea

[2016-07-08 13:48] w2naf commented on #263
Hi there. No, you are not missing anything... Something broke when were
trying to do a large davitpy update.

I'll try to patch it later today and get back to you.

Best,
Nathaniel
On Jul 8, 2016 9:08 AM, "ndestefano" <notifications@github.com> wrote:

[2016-07-09 04:09] w2naf commented on #263
Hi, @ndestefano . https://github.com/vtsuperdarn/davitpy/pull/265 will fix your problem.

Give it a try and let me know. Thanks!

[2016-07-11 21:21] ndestefano commented on #263
That seemed to work, thanks!

[2016-07-11 21:21] #263 closed

[2016-07-26 02:24] asreimer commented on #233
After more than a few days, I have made a pull request that should address @w2naf and @Shirling-VT's concerns. I've also made the code a bit easier to read (and use I hope).

https://github.com/vtsuperdarn/davitpy/pull/266

[2016-07-26 15:48] MuhammadVT commented on #233
Addressed by #266.

[2016-07-26 15:48] #233 closed

[2016-08-15 07:14] heinerasmus opened #268 "Can't get IRI to run, missing iri_sub"
Hi,
I've tried to run the example code for IRI (notebook). The following message apear:

UnboundLocalError: local variable 'iri_sub' referenced before assignment

If I have a look into the __init__.py file where the error occurs the 'iri_sub' is defined there but in principle tries to import itself?

The igrf example however works fine. Do I miss something?

here is the code:
`from datetime import

[2016-08-15 17:04] Shirling-VT commented on #268
Hi,

Which branch are you using? I just ran the same code in the notebook of the
develop branch and it's working well.

On Mon, Aug 15, 2016 at 3:14 AM, Heiner Asmus <notifications@github.com>
wrote:

--
Best wishes,
Xueling

[2016-08-17 14:39] aburrell commented on #258
As promised!  Pull request #269

[2016-08-17 17:33] asreimer commented on #258
Excellent! I have some things to do this afternoon, but I'll get it tested and merged tonight.

[2016-08-17 23:40] asreimer commented on #258
Issue resolved.

[2016-08-17 23:40] #258 closed

[2016-08-18 11:07] aburrell commented on #217
Tested three different methods:

1) Using numpy array
2) Using initialized list
3) Keeping things as they are

And found that the current way (3) is fastest because you need to alter the for-loop over the files to enumerate, which ends up adding more time than you save by not redefining the list with each append

[2016-08-18 11:07] #217 closed

[2016-08-19 01:06] ksterne commented on #186
Hey all,

I've got something working in the #266 branch though I haven't pushed it up and it's just on my local computer.  The result test case is:

![output](https://cloud.githubusercontent.com/assets/3009489/17794968/2ae992ac-6582-11e6-8922-b73c53a8c974.png)

the error message that pops up is:

`ERROR:root:CPID is changing too frequently to be legibly printed. Please consider using radDataOpen c

[2016-08-19 02:35] asreimer commented on #186
Ya that's a nice simple solution.

Perhaps the threshold for the "error" text can be set by a keyword passed to `plot_rti` but default to 20?

Also, maybe we can change the error text to something like "Threshold exceeded. Changing too frequently to display" or something like that but short and concise? If I think of something better I'll post back here.

[2016-08-19 02:43] asreimer commented on #268
Hey @heinerasmus,

Do you still need help with this? I've tried running your code in a fresh install of `davitpy` and I am able to run it just fine. Here's the plot I get:

![figure_1](https://cloud.githubusercontent.com/assets/4604819/17797191/4b79f9a6-6584-11e6-9382-9816f7b1372b.png)

[2016-08-19 02:57] ksterne commented on #186
Ok, sounds like we have a start at least.  I've added this to the #266.  We can leave this issue open using #266 is merged in which should fix/address it.

[2016-08-19 07:20] heinerasmus commented on #268
Hey,
thanks for your feedback.
@Shirling-VT ,
the version number I've found is 0.5. However I just extracted the notebook example code and wanted to run it in spyder.
@asreimer ,
I reinstalled the whole package following the install instructions. I'm using Ubuntu 16.04 as guest in a virtual box. Python still can't find the initial definition of iri_sub.

Here is the full error message:
runfile('/h

[2016-08-19 11:58] aburrell commented on #208
I took a closer look at the refArr problem.  It looks like this object is supposed to have a list of all the possible superDARN data types.  This looks like the type of object that could be useful, but would belong up at a higher level (within rcsetup.py?  Within a different part of the sdio module?).  Are there any thoughts on this?

Also, this routine (readFromDb) is not currently used anywhere,

[2016-08-19 19:01] asreimer commented on #268
I think the trouble is that there is a compilation error when compiling the iri model. If you look in the location where davitpy is installed on your machine (not the davitpy git repository) do you see an iri.so file?

We need to know what branch of davitpy you are using in the git repository (master, develop, etc.) you can find this out by running `git branch` in the root directory of davitpy.

A

[2016-08-19 19:03] asreimer commented on #268
I see from the error message you copied that you must be using the master branch. So we just need the rest of the info I asked for above.

[2016-08-19 19:08] asreimer commented on #208
There is a bunch of db stuff that's left in davitpy that we aren't using. My opinion is to remove all of it and to make davitpy depend on the hdw.dat repository instead of using the .radars.sqlite file that we use now. Less maintenance in the long run for us. https://github.com/vtsuperdarn/hdw.dat

[2016-08-22 08:50] heinerasmus commented on #268
@asreimer thanks for the hint. The *.so files of the models are there. Here is the log file from the installation
[log.txt](https://github.com/vtsuperdarn/davitpy/files/429696/log.txt)

Thanks again for your help.

[2016-08-22 09:02] aburrell commented on #208
I like the idea of removing this and removing stuff we aren't using.  Will this be a defining characteristic of the next (0.6) release?

I wonder about the sustainability of the hdw.dat files, though.  I don't see the institutions going into davitpy to make sure that they're up-to-date.  Perhaps we could run a script that rsyncs with (one of) the mirror site(s).

[2016-08-22 17:54] asreimer commented on #268
@heinerasmus you are trying to run this code using Spyder? That seems to be the only difference between your setup and mine. Perhaps Spyder is the problem here.

Here's what I did and it works. I've tested your example code on multiple machines (OpenSUSE, Ubuntu, and Fedora) and I am not able to reproduce the error that you get. Let's have you try this outside of Spyder.

Please try this exact thi

[2016-08-22 17:59] asreimer commented on #208
Currently, we rely on someone regenerating the .radars.sqlite file (Who does that? How is it done? etc.), but yes, I agree that we would have to have some code that checks if the local hdw.dat files are up to date. Also, whatever code does this, it should be platform independent (depend on builtin python libraries). We could probably get away with simply straight up downloading the hdw.dat files w

[2016-08-23 07:50] heinerasmus commented on #268
@asreimer yes I tried to run the code using Spyder. I've followed your instructions but I get the same Error in the end. An additional import error occurs when running the code via terminal. Somehow the basemap module cannot be imported. However I've tried to import it in Spyder and it works. Weird.

[2016-08-23 19:38] asreimer commented on #268
Hey @heinerasmus, sounds like something is wrong in your python installation maybe. I'm not sure what the problem is and if I can't reproduce the error, unfortunately I can't be of much help. It's weird that you are getting a basemap error since we aren't using basemap in the example code I posted above.

I just noticed you are using `from davitpy.models import *`. Generally, using `import *` is a

[2016-08-24 07:19] heinerasmus commented on #268
Hey @asreimer, unfortunately I still have the same error even without using Spyder. The basemap package is imported in the plotUtils.py in the Utils folder.

I just tried the following with python run in terminal

`
import numpy as np
from davitpy.models import iri
outf, oarr = iri.iri_sub([True]*50,0.,40.,-80.,2012,806,12.,80.,500.,10.,np.zeros(100))`

Here I get the same error UnboundLocalError:

[2016-08-30 15:34] Shirling-VT opened #270 "report a typo in gmeplot.py"
In the gmeplot.py file from the develop branch, I found a typo in line 246, which is shown below, but should be replaced with  if(parameter[0] == 'bye'): ylabel = 'By GSE [nT]'. It's not something serious, you will result in a ylabel of "BYE" instead of "By GSE [nT]". Anyone wants to correct it?

246      if(parameter[0] == 'bze'): ylabel = 'By GSE [nT]'
247      if(parameter[0] == 'bze'): ylabel

[2016-08-30 18:10] asreimer commented on #270
Hi @Shirling-VT,

I've made a pull request (#271) to fix this issue. Can you please provide some code to test it (perhaps the code you used to find it)?

[2016-08-30 20:35] ReedOnly opened #272 "Problems getting data"
Hi I'm getting this errors while downloading data:

[code]

Is any settings changed on the server side, or de we need updated login information?

Regards,
Kristian Reed

[2016-08-30 20:42] Shirling-VT commented on #270
BTW, I just found this typo accidentally when I was reading through the
code. The testing code is provided in another email I just sent.

On Tue, Aug 30, 2016 at 2:10 PM, Ashton Reimer <notifications@github.com>
wrote:

--
Best wishes,
Xueling

[2016-08-30 22:31] asreimer commented on #272
Hey @ReedOnly,

Can you post the code that you are using that is giving you this error? I'm not having any trouble connecting and I haven't changed any of the default login credentials.

[2016-08-30 22:54] asreimer commented on #268
Unfortunately I'm not sure what the problem is. I haven't tried this on Ubuntu 16.04, but @ksterne has a VM of that. Perhaps he can see if he gets the same problem or not.

[2016-08-30 23:08] ReedOnly commented on #272
Hi,

Yeah, seems like it's working from here I'm sitting now on my laptop too. I've sent you an e-mail!

[2016-08-31 00:18] ksterne commented on #272
This related to an entry on the sd-data.ece.vt.edu server's blocked list.  It should be cleared up now.  Though, care should be taken as to how that IP address ended up on our blocked list in the first place.

[2016-08-31 00:18] #272 closed

[2016-08-31 12:10] asreimer commented on #270
It was a good find!

Resolved by #271.

[2016-08-31 12:10] #270 closed

[2016-10-07 16:07] salsrag commented on #263
Nathaniel,

What is your current E-mail address?

Ray

From: Nathaniel Frissell [mailto:notifications@github.com]
Sent: Saturday, July 09, 2016 12:10 AM
To: vtsuperdarn/davitpy <davitpy@noreply.github.com>
Subject: Re: [vtsuperdarn/davitpy] ImportError when trying to make RTI plot (#263)

Hi, @ndestefano <https://github.com/ndestefano>  . #265 <https://github.com/vtsuperdarn/davitpy/pull/265>  wil

[2016-10-07 18:17] w2naf commented on #263
Hi, Ray.

My new e-mail is nathaniel.a.frissell@njit.edu.

Hope all is well,
Nathaniel

[2016-10-10 13:57] aburrell opened #273 "Virtual height models"
Currently, only the Standard model is available.  The Chisham model has been shown to be more accurate and should be provided.

[2016-10-10 14:13] aburrell commented on #273
I'm getting ready to add this functionality and trying to figure out the best place to put the additional routines.  Any thoughts on these options on where to place the routines for the standard and chisham virtual heights?

A) utils

B) a virtual_height directory in models

C) a virtual_height directory in proc

@asreimer, @Shirling-VT, @ksterne, @MuhammadVT ?

[2016-10-12 01:57] asreimer commented on #273
Hey @aburrell

Where is the current model implemented in davitpy? I'm assuming that these virtual height models are used for generating radar FOV, but I'm not entirely sure.

I would prefer to keep code that does similar things grouped together, so if the virtual height models should all go in the same place as the FOV generation code.

Cheers,
Ashton

[2016-10-12 07:19] aburrell commented on #273
The model is not placed seperatly, rather incorporated into whichever routine needs to use it.  Now that there are multiple models available, it made sense to me to give them their own place.  It is currently being used by radFov (pydarn/rad) and update_backscatter (pydarn/proc/fov). This became tricky because one could view this as being a model that provides more location information, and theref

[2016-10-12 11:33] aburrell commented on #273
Being addressed in  #274

[2016-10-13 09:40] aburrell opened #275 "E-region locations"
Here is my problem. 500 km is still E-region scatter and the virtual height is ~115 km. The Standard and Chisham methods predict elevation angles of 11-13 degrees for this slant range, while you are putting in 26 degrees for the elevation angle method. That should result in a significant difference in the geographic coordinates of the ground point. I would think that is much greater than 0.4 degre

[2016-10-18 23:32] MuhammadVT opened #276 "Hardcoded 4 minutes in RTI plot"
As mentioned in #266, a keyword argument, which is currently hardcoded to 4 minutes, and its explanation need to be added.

[2016-10-26 00:07] ReedOnly opened #277 "Error with .radars.sqlite"
Hi,

I believe there is an error with the `.radars.sqlite` database as my script is not able to fetch the site object for plotting scans.

When running this code:
[code]

I get this resulting error:

[code]

When checking the .radars.sqlite database it seems like the radId values are wrong, there is 11 radars with id 33 and none with 66 which is why python is returning NoneType for the site object

[2016-10-26 00:35] ksterne commented on #277
Yes, believe there was an error in updating the hdw.dat database.

Working on it...

[2016-10-26 00:37] asreimer commented on #277
I can confirm that this is a problem. In the limited testing that I've just done, I can't get this to work for any radar.

[2016-10-26 00:38] asreimer opened #278 "Refactor hdw.dat file handling"
How we handle hdw.dat files in davitpy IMHO is unnecessarily complicated by the usage of sqlite. Instead, we should just parse the hdw.dat files directly from https://github.com/vtsuperdarn/hdw.dat

For example, who is in charge of maintaining the radars.sqlite file? What code is used to generated this file?

We should refactor davitpy so that it doesn't use sqlite for this anymore.

Discuss?

[2016-10-26 03:08] ksterne commented on #277
Looks the issue is with the hdwRead function not working properly.  Looks like @aburrell introduced a problem back with 30431406a4a1da1e4118ade8682cd762f625075a during the big merge conflict with the fall 2015 release.  Funny as she was one of the first to point out there was an issue here! ha.

In particular the if statement was changed up so that if the year isn't 2999, then no values are writte

[2016-10-26 03:17] ksterne commented on #277
Believe I've got the hdw.dat database updated now.  Can @ReedOnly, @asreimer, @aburrell confirm?

[2016-10-26 11:21] aburrell commented on #277
Good news: everything works for me now.

@ksterne don't give me too much credit, I didn't introduce the 2999 line.  I should have spoken up about the possibilities for problems, of course.  We can fix that by using today's date as the comparison.

That said, I don't see the part where if the year isn't 2999 no values are written?  Looking at the code it goes straight to writing values if the year

[2016-10-26 11:30] ksterne commented on #277
Hey @aburrell,

The 2999 value comes from the hdw.dat convention that the second value of the line is the year **until** the line is good.  Since I guess we don't forsee SuperDARN lasting until the year 3000, that value was chosen to represent the present.  Here the convention has changed some to where the value is represented by -1.  Changing the value from 2999 is not recommended as it breaks th

[2016-10-26 15:09] aburrell commented on #278
I'm in favour of this.  I also think this is something we should sort at AGU (basically post our next release).

[2016-10-26 15:13] aburrell opened #279 "Error reporting in radar routines"
When running davitpy.pydarn.radar.site and other radar routines, the function input isn't checked and error handling is absent.  This can make it difficult to know why any particular call crashed.

[2016-10-26 15:18] aburrell opened #280 "Millenium Bug for Future Generations"
We're using a fixed year (2999) to check and see if the ending date for the hdw files is in the future or not.  This will cause a problem for SuperDARN users in 2999.  I recommend using an inequality and comparing to today's year + 1, since this year will always be in the future.

[2016-10-26 15:23] aburrell commented on #277
Hi @ksterne ,

Alright, I see where I went wrong and why (thanks for all the off-thread discussion).  Now that we've looked at this code more, here are the things I think should be fixed:

1) Error handling (for example, checking input and examining results from sql calls) is missing.  I've opened Issue #279  (for after the next release)

2) Comparing to year 2999 (a millennium bug in the waiting)

[2016-10-26 15:39] aburrell commented on #277
Hi Kristian,

I’ve encountered the same error and Kevin is working on it.  It’s “good" to see more people are experiencing the same problems.

Do you have an old .radars.sqlite database you can use until the problem is fixed?

Cheers,
Angeline

[2016-10-26 15:48] ksterne commented on #277
Back to my comment a little bit ago, this problem should be fixed and you can re-run the code you've posted here @ReedOnly.  Mostly not closing this issue for wanting comment on hotfixing develop or pull request and testing on issue related to this, but not directly.  I think @aburrell seemed in favor of pull request for this so I'll work on that this afternoon.

@ReedOnly, have you been able to r

[2016-10-26 17:09] asreimer commented on #277
A hotfix for this is appropriate.

[2016-10-26 17:54] ReedOnly commented on #277
Everything seems to work for me again now. Thanks @ksterne and the rest of you for getting around this bug so quickly!

Cheers,
Kristian

[2016-10-26 18:17] paalge opened #281 "Q: User mailing list?"
I'm getting into using davitpy for analysing SuperDARN data, and I'm foreseeing having to extend the capabilities of davitpy, as the project I'm working on requires handling the data in a way I haven't been able to find tools for in davitpy.
In this process I was wondering if there is a mailing list or similar where I can ask questions about what is present in the code, as I don't feel like Issues

[2016-10-26 19:00] ksterne commented on #277
Great to here it.  I've applied the hotfix for the underlying issue here (not that the hdw.dat sql databse was broken) with a00c429 directly to develop.  Thanks for comments and finding ways we can better setup the hdwRead function though team.  Closing now...

[2016-10-26 19:00] #277 closed

[2016-10-26 20:41] ksterne commented on #216
Seems as this is an old question, but doing a bit of review of items here.  @aburrell, in addition to the software USask is developing, are you looking for the RST repository at:

https://github.com/vtsuperdarn/VTRST3.5

While not as active in development or nearly as well documented, this contains the usual gridding and map potential source codes.  Is this what you were thinking for post-fitacf l

[2016-10-26 21:03] ksterne commented on #281
Hello @paalge,

I see your request to join the davitpy-dev google group and have accepted that request.

You bring up a good point here, should we have another list that is more for users than for developers?  This would be a good place that we could send out notices on new releases as they come out.  We don't really have a way to keep a list or contacts for people that we know are out there and u

[2016-10-26 21:19] paalge commented on #281
I've been using a lot of different packages over the years (as well as contributing to them), and I've found, especially when you're now to it, that the ability search user mailing lists for solutions, as well as asking a question really good. It also gives an idea of the community and what part of your product they are using.
Since davitpy (I'm sorry to say) lacks a comprehensive documentation, a

[2016-10-26 22:54] asreimer commented on #216
This is perhaps something we can talk about at AGU too.

[2016-10-26 22:59] asreimer commented on #281
We have a DaViTpy-users Google Group: https://groups.google.com/forum/#!forum/davitpy-users

[2016-10-26 23:16] ksterne commented on #281
OH, well look at that...and I'm even an owner.  There's no mention of this on the main README.md file...maybe we should change that.

[2016-10-27 17:52] ksterne commented on #281
OK all, I've hotfixed the README.md file with e0f1714 to include some info/encouragement about joining the davitpy-users list.  Thanks @asreimer, for reminding me this existed!  I believe this can be closed now.

[2016-10-27 17:52] #281 closed

[2016-10-28 15:53] aburrell commented on #216
Thanks for the tip Kevin.  I think RST is probably the right destination for what I was looking for in the end.  However, I think there is a role for davitpy here, and that's something we can talk about at AGU.

[2016-10-28 16:16] Shirling-VT commented on #216
This is definitely something worthwhile discussing at AGU. I heard from
several outside users suggesting that they just want the SuperDARN data
processing tool instead of the whole davitpy in the past two GEM workshop.

On Fri, Oct 28, 2016 at 11:53 AM, Angeline Burrell <notifications@github.com

--
Best wishes,
Xueling

[2016-10-28 16:29] aburrell commented on #216
Here’s something that might be useful.  How about everyone make a note of which davitpy modules they use and how often?  Then we might have a better idea of what is actually the most useful and what is more peripheral.  Xueling, if you remember what bits people at GEM said they liked, that could be added as well.

[2016-10-28 18:54] MuhammadVT commented on #216
Hi all,

I had the same impression as Xueling that outside users are mostly
interested in reading and plotting the SuperDARN data. For me I use pydarn
module the most, specifically pydarn/sdio, pydarn/radar, pydarn/plotting,
and pydarn/sdio. I use utils and gme/ind as well and started to use
models/hwm.

Thanks,
Muhammad.

On Fri, Oct 28, 2016 at 12:29 PM, Angeline Burrell <notifications@github.co

[2016-10-28 22:48] asreimer commented on #216
This is an important discussion to be having. @aburrell has a great idea about taking note of which modules people use. This is what I envisioned when I first brought up the idea of separating davitpy into a core and an extra repository.

On a related note, check out [backscatter](https://github.com/SuperDARNCanada/backscatter), a data analysis software package that @kkotyk at SuperDARN Canada has

[2016-10-31 11:17] aburrell commented on #216
It's a bit of a shame to see code being duplicated already, but I can see the appeal of starting without any baggage.

To make our discussion about modules easier, I've created a survey to make this easier to quantify:

http://www.surveygizmo.com/s3/3149166/davitpy-modules

[2016-10-31 21:44] asreimer commented on #216
Sorry, what code is being duplicated? Backscatter includes a python version of the dmap file reading and writing software that is currently only in RST. davitpy 'borrowed' the C dmap stuff from RST and wrapped it in python. Backscatter also includes a python version of make_fit, which is otherwise only available as a C version in RST. I don't think there is any code being duplicated here.

Good id

[2016-10-31 22:15] aburrell commented on #216
To an outsider, it looked like dmap was being duplicated, as well as c code from RST.  Whilst there is certainly value in having analysis kits in different languages (go, davitpy, rst), I worry when development drifts away from community input.  That’s one of the reasons I decided to use davitpy instead of starting from scratch, and it appears to have happened aeons ago with RST.  If ‘backscatter’

[2016-11-01 01:51] Shirling-VT commented on #216
I have it and already did the survey.

On Monday, October 31, 2016, Angeline Burrell <notifications@github.com>
wrote:

--
Best wishes,
Xueling

[2016-11-01 03:08] MuhammadVT commented on #216
Survey is done.

On Oct 31, 2016 9:51 PM, "Xueling Shi" <notifications@github.com> wrote:

[2016-11-01 05:21] asreimer commented on #216
I suppose that the code in backscatter is a duplication of some RST code, in so much as it is a port to another language. The code is written entirely in python and documented such that an outsider actually has hope of understanding what the code is doing on a first read through (unlike RST). For example, does anyone here understand how the python wrapped dmapio library in davitpy works (@ksterne

[2016-11-01 10:19] aburrell commented on #216
Right, this is why I didn’t have the info.  My google email wasn’t invited to join the group(s).  Fun!

[2016-11-10 17:32] Shirling-VT opened #286 "MLT conversion issue when doing the convection map"
Hi,

Here is the code when we do the convection map:

import datetime
import matplotlib.pyplot as plt
import davitpy.pydarn.plotting.plotMapGrd
from davitpy.utils import *
fig = plt.figure()
ax = fig.add_subplot(111)
sdate = datetime.datetime(2016, 3, 1, 9, 0)
mObj = plotUtils.mapObj(boundinglat=50., datetime=sdate,
                        gridLabels=True, coords='mlt')
mapDatObj = davitpy.pydarn.

[2016-11-15 09:24] paalge commented on #286
Hi
I agree that there are issues with the MLT, there is amongst others the strange factor of 15 that shows up several places in the code, which changes the magnetic longitude.
I seems like the MLT plotting has not been tested well enough.

[2016-11-17 10:27] TakahiroNAOI opened #289 "Some errors could be seen when I install basemap, davitpy."
Basemap cannot be installed properly during the installation of davitpy in my PC (Ubuntu 16.04). There might be no error message before “#install basemap” in debian_dependencies.sh. Let me attach error messages “errmsg.txt” when I only ran the last part (after “#install basemap”) of the shell script
This is the first time for me to install davitpy. I might fatal misunderstand the instruction in RE

[2016-11-17 11:13] ksterne commented on #289
Hello @TakahiroNAOI,

Thank you for posting a question here.  I believe this has to do with the latest hotfixes that we put in, but just to make sure it is clear, what branch are you using?  Also, it is a little hard to read the text file, so could you copy and paste just the error message part and post it here?

[2016-11-18 07:23] TakahiroNAOI commented on #289
Thank you for your prompt reply.
I am trying to make KSR data images by using davitpy. I am just a user, not a developer. I tried many times to install davitpy with various variation. I have no idea any more so that I made this issue. If my posting here is not appropriate, I am very sorry, please delete this.
Anyhow, the error massage is as follow. Sorry, it is too long.
`fatal: destination path '

[2016-11-18 20:14] ksterne commented on #289
You're certainly at a good place, though the davitpy-users google group is another place to ask this kind of question.  This is good for now though.

I'm not the best at this, but it seems as though this is failing with the numpy package and not necessarily the basemap package.  Are you able to confirm that you have the numpy package installed correctly?

Again, do you know what branch of the git

[2016-11-19 19:02] asreimer commented on #289
@ksterne, you are correct. This line is the relevant one:

`/usr/local/lib/python2.7/dist-packages/numpy/core/include/numpy/npy_common.h:5:25: fatal error: numpyconfig.h: No such file or directory`

It could be that by default, the `pip` command is pointing to `pip3` instead of `pip2`.

@TakahiroNAOI what happens if you change all of the `pip` commands in the install dependencies script to `pip2`

[2016-11-19 19:12] asreimer commented on #286
@paalge

Ya, the convection map plotting in general needs some work. The MLT plotting is fine. The convection maps just don't put noon at the top.

By the way, the "strange" factor of 15 is the quotient of 360/24 (the number of degrees of longitude per hour of MLT). This might not be needed anymore depending on where it shows up. Which function are these factors present in?

[2016-11-21 09:19] TakahiroNAOI commented on #289
Thank you @ksterne and @asreimer.
I installed davitpy according to the README.md in the package.
`git clone https://github.com/vtsuperdarn/davitpy.git
cd davitpy
sudo -H ./install/debian_dependencies.sh`
When I checked the version of the pip,
`pip -V
pip 9.0.1 from /usr/local/lib/python2.7/dist-packages (python 2.7)`
At any rate, I proceed with "pip install cryptography" under current circumstance

[2016-11-23 15:00] asreimer commented on #289
What failed exactly? It would be bizarre for the the `pip install cryptography` to fail with the message you posted. However, it is expected for `python setup.py install --user` executed from the davitpy root directory to have an error message of  "file davitpy.py (for module davitpy) not found", but this won't cause the entire installation process to fail.

[2016-11-24 09:55] TakahiroNAOI commented on #289
Thank you @asreimer.
I installed davitpy again.
`$ cd`
`$ git clone https://github.com/vtsuperdarn/davitpy.git`
`$ cd davitpy`
`$ sudo -H ./install/debian_dependencies.sh`
The message is too long to paste here. Let me attach it.
[log_1_installdebiansh.txt](https://github.com/vtsuperdarn/davitpy/files/610948/log_1_installdebiansh.txt)
By the way, one of my colleague advised me to check the environm

[2016-11-27 14:57] mrwessel commented on #286
I have a new-and-improved convection map module that is not quite ready to see the light of day, but someday soon I will unleash it on a pull request.  In that module, noon at the top will be default.  For MLT in general, when I put the existing capability into davitpy I did not set a separate default for MLT (there was already a default lat_0 and lon_0).

[2016-11-29 05:02] asreimer commented on #289
This is weird. It's a problem with installing basemap. I'm not sure why this error is happening.

I just moved and don't yet have my desktop computer set up. When I get it going again, I can test an Ubuntu 16.04 VM and see if I can reproduce this error. Until then, I'm sorry @TakahiroNAOI, but I can't be of much use.

If you do find a solution, can you please post it here?

[2017-01-16 09:26] jaestephenson opened #293 "davitpy module not visible after installation"
I am attempting to do a DavitPy installation in Ubuntu 16.04 64bit. I have a problem when running the notebook to make davitpy visible.

I installed Anaconda for Python 2.7. “anaconda-navigator” works.

I installed Git with App Grid.

I cloned DavitPY

Then cd davitpy
sudo ./install/debian_dependencies.sh

sudo python setup.py install

Then:
I copied the directory ‘profile_davity’ into /homedir/.j

[2017-01-16 22:08] #289 closed

[2017-01-16 22:14] asreimer commented on #293
Hey @jaestephenson

The error you are getting is saying that davitpy isn't actually installed on your system.

Something must have happened when you ran:
    sudo python setup.py install

Can you run this command again and post the output here?

[2017-01-16 23:04] asreimer opened #294 "Installation of stable basemap"
Currently, our dependency script is not installing any particular major release of basemap.

The offending line of code is:
`git clone https://github.com/matplotlib/basemap.git`

which should be:
`git clone --branch v1.0.7rel https://github.com/matplotlib/basemap.git`

This needs to be fixed because if you happen to clone basemap after they've made a change that breaks it, you install a broken bas

[2017-01-17 02:12] asreimer commented on #286
Turns out that the usage of `plotCoords` here is completely unnecessary. @Shirling-VT and I have been debugging this together here and found a major bug that occurs when you use a 'mag' coords for the `mapObj` and 'mlt' for `plotCoords`.

I'll be issuing a pulling request very soon that fixes this issue.

[2017-01-17 02:44] asreimer commented on #279
@ksterne implemented some input checking in `acfPlot` in #292

[2017-01-17 02:45] asreimer commented on #280
At least we have 981 more years to deal with this. Whew!

[2017-01-17 11:37] jaestephenson commented on #293
Thanks Ashton.
The following commands were executed with their errors:

davidwalker@SuperDARNPC:~/davitpy$ python setup.py install --user
spurces ['pydarn', 'pydarn.radar', 'pydarn.plotting', 'pydarn.sdio', 'pydarn.proc', 'pydarn.proc.music', 'pydarn.proc.signal', 'pydarn.dmapio', 'gme', 'gme.plotting', 'gme.isr', 'gme.base', 'gme.sat', 'gme.ind', 'utils', 'models', 'models.hwm', 'models.iri', 'mo

[2017-01-19 03:39] ksterne commented on #293
Hello @jaestephenson,

As @asreimer noted, it appears the installation of davitpy isn't actually happening here as you can see the note of the Permission denied.  I'm not as familiar with installing davitpy as a local user and usually go with the global install.  I'll try working replicating what you're seeing there.

A few things, are you using the latest master branch? (Doing git fetch and git p

[2017-01-19 06:44] asreimer commented on #293
Hey @jaestephenson

Sorry about the delay in responding.

As @ksterne pointed out, you have a permission denied error in the log you posted. This is not a problem with the davitpy installer, but a problem with file permissions. I'm not sure how familiar you are with linux, so I'm going to assume you know how to fix the file permission problem and wait for you to report back.

[2017-01-20 09:43] jaestephenson commented on #293
Thanks again Ashton and Kevin. I fixed several permission problems. But now have a fortran error:
so after typing:
 davidwalker@SuperDARNPC:~/davitpy$ python setup.py install --user
spurces ['pydarn', 'pydarn.radar', 'pydarn.plotting', 'pydarn.sdio', 'pydarn.proc', 'pydarn.proc.music', 'pydarn.proc.signal', 'pydarn.dmapio', 'gme', 'gme.plotting', 'gme.isr', 'gme.base', 'gme.sat', 'gme.ind', 'utils

[2017-01-21 17:16] asreimer commented on #293
Hi @jaestephenson

The error message you have is confusing. "Fatal Error: Cannot read module file â€˜apexcord.modâ€™ opened at (1)," There is no apexcord.f90 file anymore since we [upgraded to HWM14](https://github.com/vtsuperdarn/davitpy/tree/master/davitpy/models/hwm). I suspect you have an old version of the davitpy code. We upgraded HWM a year ago.

When did you download davitpy and what versi

[2017-01-21 18:41] jaestephenson commented on #293
Hi Ashton
I cloned it 2 weeks ago. I didn't specify a branch though. Should I have?
Thanks Judy

[2017-01-21 18:46] #294 closed

[2017-01-22 01:51] asreimer commented on #293
Hey @jaestephenson

That's odd that you have an apex.mod file then in the hwm directory... There isn't even an apex.f90 file in the hwm directory...

git defaults to the master branch when you clone davitpy and that's what you should probably use. You can instead use the develop branch if you want, but we might break some things in there from time to time.

After deleting the apex.mod file were yo

[2017-01-23 12:50] jaestephenson commented on #293
Ho Ashton. These problems got me thinking and I realize what happened is that after installing Davitpy, Dave copied a lot of his files from a backup up from another machine onto this machine, so that's where some old files come from. We will attempt a new install and get back to you. Thanks so much.

[2017-01-24 14:21] jaestephenson commented on #293
Ok have done a new install and all compilation went well. But I had 2 subsequent problems. First one was setting up the Ipython profile. I copied the directory 'profile_davitpy' in /homedir/davitpy/bin to /homedir/.ipython.
But when I type ipython --profile=davitpy I get the error:
judy@SuperDARNPC:~$ ipython --profile=davitpy

DaViT-Py Copyright (C) 2012 VT SuperDARN Lab
This program comes with A

[2017-01-24 21:47] ksterne opened #297 "fov class attributes need definition"
So, I was looking at the fov class, and it seems as though we're missing documentation on the attributes for that class.  Particularly these:

https://github.com/vtsuperdarn/davitpy/blob/556c6f36a4c66a9e1149e18c68ec4ad674c697bf/davitpy/pydarn/radar/radFov.py#L442-L453

It seems like there's somewhat an explanation of the orientation at:

https://github.com/vtsuperdarn/davitpy/blob/556c6f36a4c66a9e

[2017-01-25 05:03] asreimer commented on #293
You problems are entirely caused by the fact that you don't have basemap installed (or not installed correctly).

"ERROR: No module named basemap"

[2017-01-26 13:54] jaestephenson commented on #293
Ok I have sorted the basemap and pymongo errors by:
conda install -c anaconda basemap=1.0.7
conda install -c anaconda pymango=3.3.0
I then executed python setup.py install --user
and remaining modules compiled.
Logged out.
then ipython --profile=davitpy
gives:
DaViT-Py Copyright (C) 2012 VT SuperDARN Lab
This program comes with ABSOLUTELY NO WARRANTY; for details see LICENSE.txt.
This is free soft

[2017-01-26 22:05] aburrell opened #298 "batch download feature missing"
fetchUtils is a bit clunky for someone who wants to download a bit of data to use offline in the future and doesn't want to process it immediately.  This can be fixed and should be fixed.

[2017-01-27 15:34] ksterne commented on #298
Hey @aburrell,

I'm not sure I understand your issue here.  If you wanted to download a good set of files, then you can set up some nested for loops and repeatedly call `radDataOpen()` which will go and download files to your cache directory.  I guess this defaults to the /tmp/ directory right now which is flushed on most systems whenever the system is rebooted.  But you can change this cache dire

[2017-01-27 15:48] aburrell commented on #298
You hit upon the main issue, which is the unnecessary overhead of the files being unzipped and concatenated.  This could also introduce an artificial issue for someone that doesn't have a lot of working space.  Both of these are reasons enough to have a downloading script.

[2017-01-27 19:03] asreimer commented on #298
We need to be very careful about how we talk about this. We're confusing things in this discussion:

1) fetchUtils can literally be used to download massive amounts of data. [Look at the arguments to fetch_remote_files](https://github.com/vtsuperdarn/davitpy/blob/master/davitpy/pydarn/sdio/fetchUtils.py#L298-L301). In fact, fetchUtils entire raison d'etre is for downloading data. This is __complet

[2017-01-27 19:05] asreimer commented on #293
There's a davitpyrc file in the davitpy directory of the source code. Put this in your home directory.

The error message you are getting is because it can't find the davitpyrc file I think.

[2017-01-27 19:11] ksterne commented on #298
I think there's another more philosophical problem here as well.  Should we be developing davitpy to be a data downloading software?  I thought it was a way to plot data and the file downloading is an extra feature.  I think as I've heard @ajribeiro tell it, file caching wasn't in the first inception of davitpy, but was added for users that have a slow internet connection.

If you're wanting a big

[2017-01-30 13:24] jaestephenson commented on #293
Hi Ashton
Your suggestion above does not help with the profile setup for ipython and I still get the same message as I posted previously. However, after copying davitpyrc to my homedir the first cell of SuperDARN plotting does execute without error. I then copied a days worth of data to a file in order to try a plot of a local file. The file is: home/judy/fitacf/2016/20160127.000000.20160128.00000

[2017-01-31 08:50] asreimer commented on #293
The OperationalError that you are seeing is because there is a problem with your local copy of the .sqlite file that we use for the hdw.dat files.

The .sqlite file should be located in /tmp/sd/.radars.sqlite

Can you look for it? If you find it, delete it and then try again. When you import davitpy, it looks for the .radars.sqlite file. If it doesn't find it, it downloads it from the VT server.

[2017-01-31 08:53] asreimer commented on #293
By the way, I've edited all of your comments to make them easier to read. You'll note there are text editing options in the comment box so that you can markup the tracebacks you are posting.

Look for the `<>` next to the large quotation marks for example.

[2017-01-31 08:57] asreimer commented on #293
I also noticed that the reason your .radars.sqlite file might be messed up is because you had this error earlier:

[code]

You should try to ping that VT server to see if you have access. You should talk to @ksterne if you don't have access to see if the issue is on your end or VT's end.

[2017-01-31 09:02] asreimer commented on #298
Ya @ksterne I mostly agree with you on this.

While it would be ideal to support batch downloading of files, it really is a pain to support everyone's different archive formats. Perhaps we should just focus on getting the rest of the codebase polished up? We need to be careful though @ksterne because we are both from institutes that maintain a copy of all SuperDARN data. Are we the rule or the exc

[2017-01-31 09:02] asreimer commented on #298
And ya, fetchUtils is really just a clever (almost too clever...) wrapper for sftp right now.

[2017-02-02 12:54] jaestephenson commented on #293
ok thanks for your comments above. I know firewall restrictions are a problem. I can ping the server but not ssh it. Also Nathaniel talked about additional pymongo port to be set? I am trying to get our IT department to open the port 22 for me but in the meanwhile I would like to try getting local files working first. Nathaniel suggested before I that I amend my .bashrc with paths for SD_HDWPATH=/

[2017-02-04 07:01] asreimer commented on #293
Hey @jaestephenson

Yes, the radars.sqlite file is of size 0 because it isn't being downloaded properly from the VT server. Have you had any success getting your network issues resolved?

We no longer use any environment variables with DaViTpy. SD_HDWPATH and SD_RADAR don't do anything anymore. Note that if you have RST installed, it might be using those variables though...

The only error that yo

[2017-02-06 16:08] ksterne commented on #293
Hey @jaestephenson,

The IP address that you sent via e-mail is not being blocked on the sd-work9 server.  You don't need to update your public key or login information as you don't need to really "login" to the sd-work9 server for davitpy.  Davitpy is using an "open" user on sd-work9 to access some information.

However, we have had issues with the 27017 port being blocked by local ISPs before.

[2017-02-07 10:22] ReedOnly opened #299 "Running out of memory"
Hi,

I'm plotting a few hundred superDARN LoS plots at the time, and I'm running into the problem of memory overflow. After 70-80 plots Python takes up ca 8 GB memory, and if not shut down it crashes as it approaches 16 GB(total RAM of my computer).

I've been adding a few commands in the `pydarn.plotting.fan.plotFan` file to close the current figure, with no luck.

As of now I'm running:
[code]

[2017-02-07 16:24] kkotyk commented on #299
This actually happens any time files are read if I remember correctly and you cannot properly process many files with DavitPy. Ashton can comment more, but there is a memory leak in the DMAP lib. I had tried to use DavitPy to process a lot of files and the work around I used involved using the Python multiprocessing module to spawn all DavitPy calls in it's own process so that the memory is force

[2017-02-08 10:34] ReedOnly commented on #299
So you're saying the problems isn't really in the plots itself, but the `pydarn.sdio.radDataOpen` function loading the data? Guess there should be a way to shut down all the processes between every iteration of the loop where `pydarn.plotting.fan.plotFan` is called?

[2017-02-08 16:01] kkotyk commented on #299
I'm not super familiar with the way DavitPy opens files, but I think that is correct. You will run into this problem with anything that involves batch processing files because any time a file is read, it leaks a significant amount of memory. You will definitely need a way to shut down the process involved with DavitPy calls. In my case I wrote a function to open files and produce RTI plots. I then

[2017-02-09 21:07] ksterne commented on #293
Hey @jaestephenson,

It's best to keep questions on the github page.  Emailing me directly means only I'll get back to you.  If you post on github, there's more developers that can help you out.

Quoting Judy's results of look at netcat:

In short, yes it looks like the connection from there to sd-work9 is blocking the critical port, 27017.  There is more rigorous way to read in hdw.dat files if y

[2017-02-23 12:30] ReedOnly opened #301 "Satellite ground track"
Hi,

I would like to add a ground track for some polar satellites like DMSP and SWARM to the SuperDARN scans. I have located the relevant time and orbit from https://sscweb.gsfc.nasa.gov/cgi-bin/Locator_graphics.cgi.

Does anyone have any practical way of downloading lat, lon, alt and time for a pass for then being plotted on the superDARN scans? An example is like this by Goodwin, L. V., et al. (

[2017-02-27 19:15] ksterne commented on #293
Hello @jaestephenson,

With #300 merged in, I believe your problem will be solved.  Would you be able to switch to the develop branch and pull this code?  Alternatively, I can cherry-pick these same commits and get a pull request into the master branch for a hotfix.  Or plan C is to wait until late May for the new master release.  Are you still trying to get davitpy working here?

[2017-02-28 09:44] jaestephenson commented on #293
Hello Kevin
Thank you for all your efforts. Yes I would like to attempt this. I will switch to develop branch and do a re-install. On the plus side, I do seem to have finally succeeded with firewall restrictions this side. Will let you know how it goes.

[2017-02-28 11:48] jaestephenson commented on #293
Just to confirm. Would it be correct to issue the following commands to get the develop branch? :
 git clone https://github.com/vtsuperdarn/davitpy.git
cd davitpy
git fetch origin develop:develop
git checkout  develop
sudo ./install/debian/dependencies.sh

[2017-02-28 14:32] ksterne commented on #293
Good to hear the firewall restrictions are being worked out.  Let me know if you encounter any more strange connection issues and I can check what is going on on our end.

Yes, I believe you've pretty much got the order of things correct there.  Though the command `git fetch origin develop:develop` is a little strange to me.  Usually I do `git fetch` and then `git pull`, but this just might be the

[2017-03-01 04:16] asreimer commented on #293
Yes @jaestephenson, those are the correct commands to use. I think cloning the repo only brings the master branch with it.

`git fetch` will grab all of the other branches, so @ksterne's method will also work. You need to be a bit careful with the `git pull` command though because you can easily pull a remote branch into a local branch that is different. For example, if your current branch is `mas

[2017-03-01 04:20] asreimer commented on #299
Yes, @kkotyk is correct in saying there is a memory leak in reading file. I think it has something to do with pointers not getting freed properly, but I haven't figured it out just yet. I have ideas on how to fix things but haven't found the time to implement them.

The best solution in the mean time is do what @kkotyk suggested. Another alternative is to write a python script that you can call fr

[2017-03-01 04:31] asreimer commented on #301
Hey @ReedOnly. As you probably know, the map in the figure that you included could be reproduced using the `plotFan` command, except you wouldn't be able to include the satellite overplot.

Have a look at the code in the `davitpy/pydarn/plotting/fan.py`, specifically the `overlayFan` function: https://github.com/vtsuperdarn/davitpy/blob/master/davitpy/pydarn/plotting/fan.py#L476

overlayFan requir

[2017-03-02 13:01] jaestephenson commented on #293
I issued the following commands to check out connections:
judy@SuperDARNPC:~$ netstat -tulnp | grep 22
(Not all processes could be identified, non-owned process info
 will not be shown, you would have to be root to see it all.)
tcp        0      0 0.0.0.0:22              0.0.0.0:*               LISTEN      -
tcp6       0      0 :::22                   :::*                    LISTEN      -
judy@Sup

[2017-03-23 19:47] ksterne commented on #293
Hello @jaestephenson, have you been able to get this working now?  The hdw.dat bugfix went in a little while ago and you should have been able to pull down the change through git.  If you've got everything working, do you want to close and comment here?

[2017-03-27 10:13] jaestephenson commented on #293
Hi @ksterne
I am not sure how to do this? git clone https://github.com/vtsuperdarn/davitpy/hdw.dat gives me an error
`Cloning into 'hdw.dat'...
remote: Not Found
fatal: repository 'https://github.com/vtsuperdarn/davitpy/hdw.dat/' not found`

[2017-03-27 10:35] jaestephenson commented on #293
Hello @ksterne
Ok I did manage with git clone https://github.com/vtsuperdarn/hdw.dat then I redid setup.py.
But unfortunately this seems to make the problem worse because now I can even get past the first cell of the plotting notebook. After

I get the error
`ERROR:root:problem importing radar: file is encrypted or is not a database
Traceback (most recent call last):
  File "/home/radarsoft/.local

[2017-04-17 09:21] adilawt opened #302 "OperationalError: no such table: rad"
I just installed davitpy and trying to reproduce some of the plot, I am getting error 'OperationalError: no such table: rad'
Any help would be appreciated!

Adila

[2017-04-17 14:54] Shirling-VT commented on #302
Hi Adila,

If you take a look at issue #224 : https://github.com/vtsuperdarn/davitpy/issues/224, you might find a solution there.

Xueling

[2017-04-20 18:08] ksterne commented on #286
Can this issue now be closed since #296 is merged in?  @Shirling-VT?

[2017-04-20 20:39] Shirling-VT commented on #286
@ksterne Sure.

[2017-04-21 12:46] #286 closed

[2017-05-10 11:29] paalge opened #307 "Version string wrong"
A fresh install of the master branch yields '0.5' for
[code]

As far as I know davitpy is at version 0.6
Apparently I'm a bit early with this...

[2017-05-10 11:31] #307 closed, assigned to nobody

[2017-05-20 20:42] #301 closed

[2017-05-20 20:42] ReedOnly commented on #301
Thanks, I got it to work now!

[2017-05-20 20:56] ReedOnly opened #308 "FITEX vs FITEX2"
Hi,

I'm doing some error investigation with the autocorrelation functions used to determine the Doppler velocity of the SuperDARN radars. After reading [A comparison of SuperDARN ACF ﬁtting methods, [Ribeiro, 2013]](http://onlinelibrary.wiley.com/doi/10.1002/rds.20031/full) it becomes clear that there is three fitting algorithms currently used; FITACF, FITEX2 and LMFIT. On the Virginia Tech sites

[2017-05-22 04:28] asreimer commented on #308
Hey @ReedOnly

VT uses FITEX2 algorithm. @ksterne can confirm.

I'm working on getting a paper published right now that describes the difficulties with fitting SuperDARN ACFs and the proper way to fit them. This topic is my PhD thesis. It turns out that the best way is actually along the lines of LMFIT, but you need to do a good job of estimating the variance of the ACFs (FITACF, FITEX2 and LMFIT

[2017-05-22 04:30] asreimer commented on #308
If you want to discuss the velocity errors in more detail, send me an email and we can set up a Skype conversation! :)

[2017-06-01 10:03] arfogg opened #309 "install issue with davitpy_path"
After (seemingly) successfully running install there is an error importing davitpy that stems from the rcPARAM davitpy_path.  @aburrell has commented this out in the past to get around this issue, but that's not a real solution for everyone.

    $ python setup.py install --user
    $ipython

    In [1]: import davitpy as dp
    ---------------------------------------------------------------------

[2017-06-01 18:11] ReedOnly commented on #308
Hey! Sorry for late reply!

Thank you so much for your clarification :) I'm handing in my master thesis about reversed flows seen by SuperDARN data in a few weeks. I think I got what I need, and (luckily) the technical aspects of ACF is not the main importance of my thesis. Anyways, I realized the reason FITACF produces wrong reversed flows is because of an initial guess based on the first lags, w

[2017-06-01 18:11] #308 closed

[2017-06-01 22:49] asreimer commented on #308
It's more than just an incorrect initial guess.

The way cross range interference (known in radar as self-clutter) is handled in FITACF (and FITEX and LMFIT) is that "bad" lags are detected and thrown away. They aren't used to fit the ACF. When you don't have all the lags, sometimes the phase unwrapping will unwrap the phase in the wrong direction!

Think about a car tire spinning. When you watch

[2017-06-01 22:50] asreimer commented on #308
I should add that FITEX2 doesn't actually unwrap the phase so it doesn't run in to this problem. LMFIT is based on FITEX2 so it also doesn't have this problem.

[2017-06-08 14:59] ksterne commented on #293
Hello @jaestephenson, are you still having this problem?  Sorry no one has been able to get back to you on this for quite some time.  It may be here a simple issue of a permissions or something strange with the file.  A solution may be to remove the file and try running things again here.

[2017-06-08 15:05] ksterne commented on #309
Hello @arfogg, I'm not sure I can completely follow your problem here.  In the default davitpyrc, there is not a davitpy_path variable.  Is this is what you're noting is getting set, possibly incorrectly?

[2017-06-09 00:15] ksterne commented on #298
Has there been anymore thoughts on this?  Still not sure that enabling davitpy as more of a data downloader is good.  This is something we've thought about in the data distribution WG.  I do get your point @asreimer that we are/were apart of institutions that had large archives.  But, there are several ways to download data.

[2017-06-10 00:25] ksterne commented on #279
Starting to work on input checks for the `pydarn.radar.site` class in the enhancements-site_inputs_checks branch.  With any luck, I'll try to get to the other classes in the `radStruct.py` file.   Certainly something we should try to get done in *every* file before the first version, but I'll try to knock off where and what I can.

[2017-06-27 09:36] jaestephenson commented on #293
Hello @ksterne . No I haven't managed to win yet. I will try a new install soon as I heard at SD workshop some modifications have been made and a new RST4.0 has been released.  It would be so helpful if the instructions for installation could be updated. I am not sure who would be the best person to do this? I learnt at the workshop I should be modifying my davitpyrc file, which I didn't know to d

[2017-06-30 16:12] kherli opened #313 "No vmin option on convection plots"
Hi!

I am working with identifying fast flowing structures (>= 1km/s) within the SuperDARN convection maps.
It would be great to alter the minimum velocity on the colour scale (instead of just the option of setting the maximum) within davitpy.pydarn.plotting.plotMapGrd.MapConv.

I was working with overlayMapFitVel() within the MapConv class and managed to get it working, but it involved a lot of c

[2017-07-06 18:47] aburrell commented on #309
It's not a variable in davitpyrc, but rcsetup.py sets it on line 232.  It looks like the error handling for the variable `path` set on line 220 is not sufficient.

I was able to complete the install by deleting line 232 (it has no effect on the functionality).  Do we use DAVITPY_PATH anywhere?  I couldn't find an instance.  Do you know why we set it?

[2017-07-06 18:57] aburrell commented on #298
Thanks for the clear summary @asreimer.  I think we should aim to separate data downloading from data reading (perhaps as a submodule of sdio) to allow downloading to occur during the night and data reading occur during the day.  I think this will be especially helpful for new users at institutions without a local superDARN database who are just learning python and don't yet have a handle on rsync

[2017-07-06 19:00] #275 closed

[2017-07-06 19:01] aburrell opened #314 "Links to documentation"
The README file should contain a link to the documentation.  If it's there and I didn't see it, it should be moved to a more visible location.

If it's hosted on Read the Docs, I'd also recommend placing our badge in the README.

[2017-07-06 19:05] aburrell commented on #122
How are we doing on this now?

[2017-08-03 13:26] johncoxon opened #316 "Tsyganenko tracing not working correctly"
I've just installed davitpy on my Mac and I've had a couple of issues. Firstly, when I initially tried to import the module, it warned me that `pyproj` was not installed, so I had to `pip install pyproj` to fix this issue.

Secondly, when I run the example code given in the source of the submodule:

[code]

I get the following:

[code]

When I run `trace.plot()` I get the following:

[code]

Thoug

[2017-08-03 16:47] Shirling-VT commented on #316
Hi,

You should use "pip install --upgrade pillow" instead of "pip install
--upgrade PIL" for pillow installation. Also, the brew installation script
is not well tested.
You'd better use the mac_port installation script for OS X dependency
installation of davitpy. Or installing all dependencies listed in
python_install_mac_port.sh
which is updated instead of the dependencies listed in
python_insta

[2017-08-04 08:18] johncoxon commented on #316
Hi Xueling, sorry, the two problems that you saw in the GitHub email are both problems I solved (I'd missed a line in the brew installs) and edited out of the issue – the new issue reflects a couple of problems that are actually present in davitpy. Thanks for replying though!

[2017-08-16 16:13] paalge opened #318 "sdDataOpen and errornous data entries"
Hi

I've been reading in large SuperDARN mapex datafiles (several years).
In this process I've found it necessary to handle missing time points, as `readRec()` on a `sdDataPtr`, sometimes returns `None` for certain times. I haven't been able to move past it with the open pointer, and I have to result to a new pointer with `noCache=True` using `sdDataOpen()`. With years of data to read in this turn

[2017-08-25 07:26] jpreistad opened #320 "Co-rotation"
I am not sure if this is the correct place to ask, if not maybe someone can point me to the right person. I am wondering of anything has been done with the plasma velocity data (any of the dataproducts available through davitpy) that takes into account that Earth rotates? I am using an MLT grid for plotting, and in that frame the radar rotates with the Earth, and I want to express the velocities i

[2017-08-25 14:18] aburrell commented on #320
This is perhaps not the best place for such questions, but it is a place where you can contact SuperDARN people easily.

There is a way to take into account the Earth’s rotation, and this is done when making the grid files from the fit files.  davitpy/pydarn is an analysis tool, and making grid files is considered processing, so it’s not done here.  Instead, the RST code is used.  You can find the

[2017-08-30 11:27] jpreistad commented on #320
Thank you for your response. I have downloaded what I think is grid files, by invoking the following command in davitpy:
data =  pydarn.sdio.sdDataReadRec(ptr)

Here, data.fType='grdex', which is what makes me suspect this is what you call a grid file. Is there any reason to believe that something is done with respect to co-rotation in the data I retrieve by the above formula?

Cheers,
-Jone

[2017-08-30 13:47] aburrell commented on #320
You have downloaded a grid file, but there is no reason to think that anything was done with respect to co-rotation because that is not the standard processing and anything you download from the standard davitpy routines will be standard files.  Referring back to my previous response, there is a way to take into account the Earth’s rotation, and this is done when making (not downloading) the grid

[2017-08-30 17:58] jpreistad commented on #320
Thank you for the clarification.
-Jone

2017-08-30 15:47 GMT+02:00 Angeline Burrell <notifications@github.com>:

[2017-08-30 22:51] #320 closed

[2017-09-01 12:03] kherli commented on #309
I got the above error also... but as long as I am not in the directory containing davitpy then everything works fine

[2017-09-09 22:30] asreimer opened #321 "overlayFov is broken by changes to fov generation code"
Currently, in the `develop` branch, overlayFov is unable to plot FOVs for all SuperDARN radars without producing wildly wonky results.

![superdarnfovs](https://user-images.githubusercontent.com/4604819/30244294-5173c626-9570-11e7-8009-54523ab2e70f.png)

Here's the code I used to produce this figure:

    from davitpy.pydarn.radar import *
    from davitpy.pydarn.plotting import *
    from davitpy

[2017-09-09 22:31] asreimer commented on #321
Since this affects 2 of our master branch releases, I'd say this is a critical bug that needs a hotfix.

[2017-09-11 21:18] aburrell commented on #321
Agreed.  I'm happy to do some work on it once I get the two pull requests I'm working on done.

[2017-09-18 18:31] #313 closed

[2017-09-18 18:32] #216 closed

[2017-09-18 18:32] #218 closed

[2017-09-29 11:09] kherli opened #323 "Channel keyword in radDataPtr"
Hi,
I was just wondering about the status and plans for the channel keyword within radDataPtr.
I can see that at the moment the description is:
channel : (str/NoneType)
    The 1-letter code to specify the UAF channel (not stereo),
    e.g. 'a','b',... If 'all', ALL channels were obtained.
    (default=None, meaning don't check for UAF named data files)

I understand that this is applying to radar

[2017-09-29 13:32] aburrell commented on #323
It's not on my list at the moment.  Any chance you'd be willing to give it a shot @kherli ?  I'd be happy to help you, but can't take it on for any time in the foreseeable future.

[2017-09-29 13:33] #261 closed

[2017-09-29 14:48] kherli commented on #323
I can try and do it :) but I'd need to confirm a few things and I'm a bit confused about what has been previously tried. As it is, it looks like calling the channel keyword doesn't work at all for both mono and stereo radars and results in no data being found by the pointer.

I can see lots of places where the keyword used to be checked which are commented out, eg:
        # REMOVED BY ASR on 11 S

[2017-09-29 15:33] aburrell commented on #323
These are good questions that I can't answer.  @asreimer , @Shirling-VT , @ksterne  would you know?

[2017-10-01 17:26] egthomas commented on #323
The Canadian radars alternate between channels 1 and 2 according to the scan frequency being used when they operate the "twofsound" control program.  This was practice began sometime in November 2016 so we could more easily treat data collected on either the higher or lower frequency as an independent data stream (but with 2-min cadence).  So SAS, PGR, CLY, INV, RKN are not actually stereo/multi-c

[2017-10-02 10:11] kherli commented on #323
Ah okay I see, thanks for explaining!
I suppose the reason the code for current channel keyword has been commented out is that it could cause confusion if the user doesn't know the difference between the two ways the frequency is switched between stereo and single channel radars. (Please confirm @asreimer ? I guess from the initials in the comments that's you :) )

I am not sure what other people

[2017-10-02 15:16] Shirling-VT commented on #323
Usually, I use the following code to deal with the radar channel issue in
davitpy, when I just want data from channel A from all radars.

if rad in ['ksr','kod','ade','adw','mcm','sps']:
channel = 'a'
else:
channel = None

myPtr =
pydarn.sdio.radDataOpen(sTime,rad,eTime=eTime,channel=channel,cp=cp,fileType=fileType,filtered=filtered,
src=src)

Hope this helps with your question of the channel keyw

[2017-10-02 15:43] kherli commented on #323
Thanks for your answer @Shirling-VT!
Do you know why my following code returns both channels when I specify channel=None but no data when I specify channel = 'a' or channel = 'b' ? This result happens for all radars and dates for me.

myPtr = pydarn.sdio.radDataOpen(sTime, rad, eTime=eTime, fileType='fitacf',
                           src='local', local_dirfmt='/home/katie/work/Superdarn_data/dat

[2017-10-02 18:01] Shirling-VT commented on #323
Taking a careful look at my code which was implemented a year ago for
searching THEMIS mode data, the way I took care of channel only considering
the UAF radars with channel names specified in the filename. For stereo
operation, data from multiple channels are stored in the same file. Since I
am focused on the THEMIS mode data, I used the CPID to filter out the data
I want after reading all the re